#loader {
  position: absolute;
  left: 50%;
  top: 25%;
  z-index: 2020;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2010;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#overlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  z-index: 2020;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

#log.small {
font-size: 50%;
}

td.stickycolumn {
  position: -webkit-sticky; position: sticky; left: 0px;
}

.bgimage {
    width: 100%;
    height: 500px;
    max-height: 768px;
    overflow: hidden;
    margin: 0;
    position: fixed;
    left: 0;
    z-index: -1;
}
.bgimage img {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
  z-index: -1;
}

/* hide some navbar buttons for very small screens */
@media (max-width: 520px) {
    #kofi-navbar-button { display: none; }
}

/* Status icon SVG styles */
.status-icon {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    fill: currentColor;
}

