h1 {
  color: brown;
  text-align: center;
  padding: 10px;
}

.bigbigbutton {
  display: block;
  width: 90%;
  height: 4em;
  border: none;
  background-color: #1144CC;
  color: #CCDDFF;
  padding: 1em 2em;
  margin: 1em;
  font-size: 125%;
  cursor: pointer;
  text-align: center;
  border-radius: 2em;
}

.red {
  background-color: #CC4411;
  !important
}

span.red {
  color: red;
}

span.green {
  color: greenyellow;
}

span.neutral {
  color: black;
}

#loader {
  position: absolute;
  left: 50%;
  top: 25%;
  z-index: 20;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 10;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#overlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  min-height: 100%vh;
  padding-bottom: 5rem;
  # height of the footer
}

.footer {
  font-size: small;
  color: dimgray;
  height: 5rem;
  padding-left: 4em;
  padding-right: 4em;
}

ul.checkboxlist {
  float: left;
  list-style: none;
  margin: 0;
}

ul {
  margin-left: 1.25em;
  padding-left: 0;
}