{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Setup optional parameters {% endblock %}</h1>

<p>
<form method="post">
<button type="submit" class="bigbigbutton" name="tar1090" value="go">I'm done here - take me to the website</button>
</form>
</p>
<p>
<form method="post">
    <div class="row">
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="privacy" id="privacy" {{ metadata['privacy'] }}/>
        <label for="privacy" class="mb-3 col-sm-11">Enable privacy flag (ON = does not show on <a href="https://map.adsb.lol/syncmap/">public aggregator maps</a>)</label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="route" id="route" {{ metadata['route'] }}/>
        <label for="route" class="mb-3 col-sm-11">Use adsb.lol Route API to show flight routes when known.</label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="adsblol" id="adsblol" {{ metadata['adsblol'] }}/>
        <label for="adsblol" class="mb-3 col-sm-11">Submit your data to <a href="https://adsb.lol/privacy-license/">adsb.lol</a></label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="ps" id="ps" {{ metadata['ps'] }}/>
        <label for="ps" class="mb-3 col-sm-11">Submit your data to <a href="https://www.planespotters.net/legal/privacypolicy/">planespotters.net</a></label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="adsbone" id="adsbone" {{ metadata['adsbone'] }}/>
        <label for="adsbone" class="mb-3 col-sm-11">Submit your data to <a href="https://adsb.one/privacy-license/">adsb.one</a> <small>(please note that this site is missing a clear data/privacy policy)</small></label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="tat" id="tat" {{ metadata['tat'] }}/>
        <label for="tat" class="mb-3 col-sm-11">Submit your data to <a href="https://theairtraffic.com/privacy-license/">TheAirTraffic.com</a> <small>(please note that this site is missing a clear data/privacy policy)</small></label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="adsbfi" id="adsbfi" {{ metadata['adsbfi'] }}/>
        <label for="adsbfi" class="mb-3 col-sm-11">Submit your data to <a href="https://adsb.fi/">adsb.fi</a> <small>(please note that this site is missing a clear data/privacy policy)</small></label><br/>
        <input type="checkbox" style="height: 1.4em;" class="mb-3 col-sm-1" name="adsbx" id="adsbx" {{ metadata['adsbx'] }}/>
        <label for="adsbx" class="mb-3 col-sm-11">Submit your data to <a href="https://adsbexchange.com/legal-and-privacy/">ADSBExchange</a> <br/><small>(please note that this site has been aquired by a private equity company with unknown plans for the data submitted; it does, however, provide the best MLAT coverage of all the sites listed)</small></label><br/>
    </div>
    <div class="form-group {{ 'visible' if metadata['adv_visible'] else 'invisible' }}">
	    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <p>{{ message }} </p>
</form>
</p>
{% endblock %}
