{% extends 'base.html' %}
{% set active_page = "expert" %}

{% block content %}
<h1>{% block title %} Expert setup {% endblock %}</h1>
<h2 class="mt-5">Set explicit gain</h2>
<form method="POST">
    <div class="row">
        <label for="gain" class="col-8">
            Normally the feeder will settle on a good gain value over time (and an AirSpy will do so almost
            immediately). If you want to override that "autogain" behavior, you can set an explicit gain value here.
        </label>
        <input class="col-8 ml-2" id="gain" name="gain" type="text" value="{{ env_value_by_tag('gain') }}" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3" name="gain--submit" value="go">Submit</button>
    </div>
</form>

<!-- SECURE_IMAGE_START -->
<h2 class="mt-5">Install ssh credentials</h2>
<form method="POST">
    <div class="row">
        <label for="ssh_pub" class="col-12">
            Enter or paste your public key below. This will allow you to then log in as root on the feeder SBC.
        </label>
        <input class="col-8 ml-2" id="ssh_pub" name="ssh_pub" type="text" placeholder=" Enter your public key" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3" name="ssh" value="go">Submit</button>
    </div>
</form>

<h2 class="mt-5">Secure feeder system</h2>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="secure_image" class="col-8">Attempt to make it somewhat harder for a local user to
            gain access to the image. Of course, anyone with physical access to the feeder hardware can circumvent
            the protection attemted here. Make sure you have an ssh key set up and tested before doing this, or
            you will permanently log yourself out of this image.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-3" name="secure_image" value="go">Update
            Settings</button>
    </div>
</form>
<!-- SECURE_IMAGE_END -->

<h2 class="mt-5">Shutdown/Reboot</h2>
<form method="POST">
    <div class="row">
        <label for="shutdown" class="col-8">Shutdown the feeder. Most boards won't turn off power by themselves.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-3" name="shutdown" value="go">Shutdown</button>
        <label for="reboot" class="col-8">Reboot the feeder. Please note that some boards are not able to reboot without
            manually power cycling.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-3" name="reboot" value="go">Reboot</button>
    </div>
</form>

<h2 class="mt-5">Nightly system update settings</h2>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <input type="checkbox" class="mb-3 col-sm-2" name="nightly_base_update--is_enabled"
                    id="nightly_base_update--is_enabled" {% if is_enabled("nightly_base_update") %} checked {% endif %}>
                <label for="nightly_base_update--is_enabled" class="col-sm-10">Update the ADSB Feeder base OS every
                    night</label>
                <input type="checkbox" class="mb-3 col-sm-2" name="nightly_feeder_update--is_enabled"
                    id="nightly_feeder_update--is_enabled" {% if is_enabled("nightly_feeder_update") %} checked {% endif
                    %}>
                <label for="nightly_feeder_update--is_enabled" class="col-sm-10">Update the ADSB Feeder applications
                    every
                    night</label>
                <input type="checkbox" class="mb-3 col-sm-2" name="nightly_container_update--is_enabled"
                    id="nightly_container_update--is_enabled" {% if is_enabled("nightly_container_update") %} checked {%
                    endif %}>
                <label for="nightly_container_update--is_enabled" class="col-sm-10">Update the ADSB Feeder containers
                    every
                    night</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-3" name="nightly_update" value="go">Update
            Settings</button>
    </div>
</form>

<h2 class="mt-5">Update feeder containers</h2>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="update" class="col-8">Update to the currently recommended container images.
            This could take several minutes, depending on the speed of your internet connection and the amount of the
            changes made in the containers.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-3" name="update" value="go">Update now</button>
    </div>
</form>

<h2 class="mt-5">Update feeder applications</h2>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="update_feeder_aps" class="col-8">Update to the current ADSB feeder applications (i.e. the web UI and
            setup apps).
            This could take several minutes, depending on the speed of your internet connection and the amount of the
            changes made.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-3" name="update_feeder_aps" value="go">Update
            now</button>
    </div>
</form>

<h2 class="mt-5">Add Zerotier</h2>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="zerotierid" class="col-12">
            Zerotier support allows to connect your ADSB Feeder to you own global area network. Please add your
            your Zerotier Network ID below.<br />
            Once this process has completed, you need to accept the new device into the network on the Zerotier website.
        </label>
        <input class="col-8 ml-2" id="zerotierid" name="zerotierid" type="text"
            value="{{ env_value_by_tag('zerotierid') }}" placeholder=" Enter your Zerotier Network ID" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3" name="zerotier" value="go">Submit</button>
    </div>
</form>

{% endblock %}