{% extends 'base.html' %}
{% set active_page = "restore" %}

{% block content %}
<h1>{% block title %} Restore setup from a backup {% endblock %}</h1>
<div>
{%  if metadata['unchanged'] | length > 0 %}
    <p>The following files appear unchanged:</p>
    <ul>
        {%  for name in metadata['unchanged'] %}
            <li>{{ name }}</li>
        {%  endfor %}
    </ul>
{%  endif %}
{%  if metadata['changed'] | length > 0 %}
    <p>The following files appear modified; select the ones you want to restore from the backup?</p>
    <form method="POST">
        <div class="row">
            <div class="form-group col-sm-11 no-gutters" id="PF_FIELDS">
                <ul class="checkboxlist">
                    {%  for name in metadata['changed'] %}
                        <li class="checkboxlist">
                            <input id={{ name }} name={{ name }} type="checkbox">
                            <label for={{ name }} class="ml-2">{{ name }}</label>
                        </li>
                    {%  endfor %}
                </ul>
            </div>
            <div class="form-group col-sm-11 no-gutters" id="PF_FIELDS">
                <button class="btn btn-secondary" type="submit">Restore</button>
            </div>
        </div>
    </form>
</div>
{%  endif %}
{% endblock %}
