[Unit]
Description=ADS-B Feeder Temperature Service
Requires=pigpiod.service
After=adsb-setup.service pigpiod.service

[Service]
SyslogIdentifier=adsb-temperature
WorkingDirectory=/opt/adsb/extras
EnvironmentFile=-/opt/adsb/extras/adsb-temperature.default
ExecStart=/usr/bin/python3 /opt/adsb/extras/temperature.py $GPIO_PIN $DEVICE
Restart=always
Type=simple
RestartSec=5
StartLimitInterval=1
StartLimitBurst=100
StandardOutput=append:/run/adsb-feeder-image.log
StandardError=append:/run/adsb-feeder-image.log

[Install]
WantedBy=multi-user.target
