[Unit]
Description=ADS-B Feeder Docker Service
After=docker.service network-online.target adsb-setup.service
PartOf=docker.service

[Service]
SyslogIdentifier=adsb-docker
WorkingDirectory=/opt/adsb
ExecStartPre=-/usr/bin/bash -c "mount -o remount,exec,size=$(( $(cat /proc/meminfo | grep -i 'memtotal' | grep -o '[[:digit:]]*') / 2 ))k /run"
ExecStart=/opt/adsb/docker-compose-start
RemainAfterExit=yes
ExecStop=/opt/adsb/docker-compose-adsb stop -t 30
RestartSec=30
TimeoutStartSec=10min
TimeoutStopSec=2min
Restart=always

[Install]
WantedBy=multi-user.target
