[Unit]
Description=ADSB Setup Service
After=network-online.target

[Service]
RemainAfterExit=yes
WorkingDirectory=/opt/adsb/adsb-setup
ExecStartPre=/usr/bin/bash /opt/adsb/finish-update.sh
ExecStart=/usr/bin/python3 /opt/adsb/adsb-setup/app.py
Restart=always
StandardOutput=append:/var/log/adsb-setup.log
StandardError=append:/var/log/adsb-setup.log

[Install]
WantedBy=multi-user.target
