[Unit]
Description=ADS-B Feeder Docker Service
After=docker.service network-online.target adsb-setup.service
PartOf=docker.service

[Service]
SyslogIdentifier=adsb-docker
WorkingDirectory=/opt/adsb
ExecStartPre=-/usr/bin/bash -c "mount -o remount,exec,size=$(( $(cat /proc/meminfo | grep -i 'memtotal' | grep -o '[[:digit:]]*') / 2 ))k /run"
ExecStartPre=/opt/adsb/scripts/fix-docker-network
ExecStart=/opt/adsb/docker-compose-start
RemainAfterExit=yes
ExecStop=/opt/adsb/docker-compose-adsb stop -t 30
ExecStop=/opt/adsb/scripts/log2disk.sh
RestartSec=30
TimeoutStartSec=10min
TimeoutStopSec=2min
Restart=always
StandardOutput=append:/run/adsb-feeder-image.log
StandardError=append:/run/adsb-feeder-image.log


[Install]
WantedBy=multi-user.target
