[Unit]
Description=ADSB Bootstrap Service
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/adsb
ExecStart=/usr/bin/bash /opt/adsb/bootstrap.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
