[Unit]
Description=ADSB Docker Service
Requires=docker.service
After=docker.service network-online.target adsb-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/adsb
ExecStartPre=mount -o remount,exec /run
ExecStart=/opt/adsb/docker-compose-start
ExecStop=/opt/adsb/docker-compose-adsb down -t 30
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
