[Unit]
Description=ADSB Preparation Service when not running the full feeder image
After=network-online.target
Before=adsb-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/adsb
ExecStart=/usr/bin/bash /opt/adsb/software-prep.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
