# make the flask server available on both :5000 and :80
[Unit]
Description=ADSB Web Forward Service
Requires=adsb-setup.service
After=adsb-setup.service

[Service]
Type=simple
WorkingDirectory=/opt/adsb
ExecStart=/usr/bin/socat TCP4-LISTEN:5000,fork,reuseaddr TCP4:localhost:80
Restart=always

[Install]
WantedBy=multi-user.target
