[Unit]
Description=Add secondary mDNS entry %i as alias for %H.local
Requires=avahi-daemon.service network-online.target
After=avahi-daemon.service

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/avahi-publish -a -R %i $(avahi-resolve -4 -n %H.local > /dev/null && ip route get 1 | awk '{print $7;exit}')"
Restart=always
RestartSec=90
SyslogIdentifier=adsb-avahi-alias

[Install]
WantedBy=multi-user.target
