# Timer service that triggers the update script every hour at the half hour

[Unit]
Description=Run Nightly ADS-B Feeder Image Updates

[Timer]
Unit=adsb-update.service
OnCalendar=*-*-* *:30:00

[Install]
WantedBy=timers.target
