# run the updates - this will then be triggered by a timer
[Unit]
Description=ADS-B Feeder Image Update Service

[Service]
WorkingDirectory=/opt/adsb
ExecStart=/usr/bin/bash /opt/adsb/nightly-update-adsb-im
SyslogIdentifier=adsb-update

