# simply run the script as a service so it's owned by systemd and
# not the calling program (which we will stop as part of that script)
# also give the calling program a chance to show a transition screen
# before being killed
[Unit]
Description=ADSB Feeder Update Service

[Service]
Type=oneshot
RemainAfterExit=no
WorkingDirectory=/opt/adsb
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/bash /opt/adsb/feeder-update
TimeoutStartSec=0

[Install]

