[Unit]
Description=ADSB Setup Service
Requires=networking.service

[Service]
RemainAfterExit=yes
WorkingDirectory=/usr/local/share/adsb-pi-setup
ExecStart=/usr/local/bin/flask --app app run --host 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
