<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Google Fonts Roboto. Copyright 2011 Google Inc. All Rights Reserved. See {{ url_for('static', filename='fonts/LICENSE.txt') }} -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
  <!-- MDB -->
  <link rel="stylesheet" id="css-theme" />
  {% if env_value_by_tag("css_theme") == 'auto' %}
  <script>
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      //  document.write("<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='css/mdb.dark.min.css') }}\" />");
      document.getElementById("css-theme").href = "{{ url_for('static', filename='css/mdb.dark.min.css') }}";
    } else {
      //  document.write("<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='css/mdb.min.css') }}\" />");
      document.getElementById("css-theme").href = "{{ url_for('static', filename='css/mdb.min.css') }}";
    }
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
      document.getElementById("css-theme").href = e.matches ? "{{ url_for('static', filename='css/mdb.dark.min.css') }}" : "{{ url_for('static', filename='css/mdb.min.css') }}";
    });
  </script>
  {% elif env_value_by_tag("css_theme") == 'dark' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.dark.min.css') }}" />
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />
  {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <!-- Spinner -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>
    {{ list_value_by_tag("site_name", 0) }}{% if list_value_by_tag("site_name", 0) != "" %}:
    {% endif %}{% block title %}{% endblock %}
  </title>
  <nav class="navbar fixed-top navbar-expand-lg bg-body">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for("director") }}">ADS-B Feeder</a>
      <a class="btn btn-primary mx-3" href="/map{{ env_value_by_tag('tar1090_query_params') }}">Live Map</a>
      <div id="temperature_block" style="width: 4em; height:auto;">
        <span id="cpu" class="d-none"
              style="float:left;width:45%;height:1em;font-size:0.6em;margin-left: 1px;">CPU</span>
        <span id="ext" class=" d-none"
              style="float:left;width:45%;height:1em;font-size:0.6em;margin-left: 1px;">EXT</span>
        <span id="cpu_temp" class=" d-none"
              style="float:left;width:45%;height:1em;font-size:0.6em;margin-left: 1px;"></span>
        <span id="ext_temp" class="d-none"
              style="float:left;width:45%;height:1em;font-size:0.6em;margin-left: 1px;"></span>
      </div>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg viewBox="-5 0 10 8" width="1.5em">
          <line y2="8" stroke="#000" stroke-width="8" stroke-dasharray="1.6 1.4"></line>
        </svg>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Maps -->
          <li class="nav-item dropdown {% if not is_enabled('base_config') %}d-none{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMaps" role="button"
               data-mdb-toggle="dropdown" aria-expanded="false">Maps</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMaps">
              <li><a class="dropdown-item" href="/map{{ env_value_by_tag('tar1090_query_params') }}">Live Traffic</a>
              </li>
              {% if env_value_by_tag("aggregator_choice") != 'nano' %}
              <li><a class="dropdown-item" href="/map/?heatmap">Heatmap</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/map/?pTracks">Tracks</a></li>
              {% if env_value_by_tag("aggregator_choice") != 'nano' %}
              <li><a class="dropdown-item" href="/map/?replay">Replay</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="/visualization">Options</a></li>
              {% if is_enabled('stage2') %}
              <!-- awkward double dropdown for the micro proxies -->
              {% for site in env_value_by_tag('site_name') %}
              {% if loop.index0 != 0 %}
              <li>
                <a class="dropdown-item" href="#">{{site}} &raquo;</a>
                <ul class="dropdown-menu dropdown-submenu">
                  {% set url = "/map_" ~ loop.index0 %}
                  <li><a class="dropdown-item" href="{{ url }}/{{env_value_by_tag('tar1090_query_params') }}">Live
                      Traffic</a></li>
                  <li><a class="dropdown-item" href="{{ url }}/?heatmap">Heatmap</a></li>
                  <li><a class="dropdown-item" href="{{ url }}/?pTracks">Tracks</a></li>
                  <li><a class="dropdown-item" href="{{ url }}/?replay">Replay</a></li>
                  <li><a class="dropdown-item" href="/visualization?m={{loop.index0}}">Options</a></li>
                </ul>
              </li>
              {% endif %}
              {% endfor %}
              {% endif %}
            </ul>
          </li>
          <!-- Data Sharing -->
          {% if not is_enabled('stage2') %}
          <li class="nav-item"><a
               class="nav-link {% if not is_enabled('base_config') or env_value_by_tag('aggregator_choice') in ['micro', 'nano'] %}d-none{% endif %}"
               href="/aggregators">Data Sharing</a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAgg" role="button" data-mdb-toggle="dropdown"
               aria-expanded="false">Data Sharing</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownAgg">
              {% for site in env_value_by_tag('site_name') if not site == list_value_by_tag('site_name', 0) %}
              <li><a class="dropdown-item" href="/aggregators?m={{loop.index}}">{{site}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          <!-- Setup -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSetup" role="button"
               data-mdb-toggle="dropdown" aria-expanded="false">Setup</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownSetup">
              <li><a class="dropdown-item" href="/setup">{% if is_enabled('stage2') %}Stage
                  2{% else %}Basic{% endif %}</a></li>
              <li><a class="dropdown-item {% if not is_enabled('base_config') %}d-none{% endif %}"
                   href="/sdr_setup">SDR</a></li>
              <li><a class="dropdown-item {% if not is_enabled('base_config') %}d-none{% endif %}"
                   href="/expert">Expert</a></li>
            </ul>
          </li>
          <!-- System -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogs" role="button"
               data-mdb-toggle="dropdown" aria-expanded="false">System</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogs">
              <li><a class="dropdown-item" href="/logs/">Logs</a></li>
              <li><a class="dropdown-item" href="/info">Support Info</a></li>
              <li><a class="dropdown-item" href="/support">Share Diagnostics</a></li>
              <li><a class="dropdown-item" href="/systemmgmt">Management</a></li>
              <li><a class="dropdown-item" href="/backup">Backup</a></li>
              <li><a class="dropdown-item" href="/restore">Restore</a></li>
              {% if env_value_by_tag("aggregator_choice") != 'nano' %}
              <li><a class="dropdown-item" href="/stats">{%if is_enabled('stage2')%}Combined {%endif%}Stats</a></li>
              {% for site in env_value_by_tag('site_name') %}
              {% if loop.index0 != 0 %}
              <li><a class="dropdown-item" href="/stats_{{loop.index0}}/">{{site}} Stats</a></li>
              {% endif %}
              {% endfor %}
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="/static/js/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
  <script>
    function check_mf_status() {
      let url = "/api/stage2_stats";
      fetch(url, {
        method: "GET", cors: "no-cors"
      })
        .then(response => { return response.json() })
        .then(data => {
          data.forEach((d, i) => {
            let color_class = "text-danger";
            let tooltip = "not receiving any data"
            if (d["pps"] > 0) {
              color_class = "text-success";
              tooltip = "receiving data"
            } else if (d["uptime"] > 60) {
              color_class = "text-warning";
              tooltip = "receiving unusually little data"
            }
            $("#mf_status_" + i).attr('class', color_class);
            $("#mf_status_" + i).attr('title', tooltip);
            $("#mf_status_" + i).text(d["pps"] + " pos / " + d["mps"] + " msg per sec");
          })
        })
        return setTimeout(check_mf_status, 15000);
    };

    function get_temperatures() {
      let url = "/api/get_temperatures.json";
      fetch(url, {
        method: "GET", cors: "no-cors"
      })
        .then(response => { return response.json() })
        .then(data => {
          update_temp_block(data["cpu"], data["ext"], data["age"]);
        })
        .catch((err) => {
          console.log("requested temperatures and got error: " + err);
        })
        .finally(() => {
          setTimeout(get_temperatures, 15000);
        });
    }

    function update_temp_block(cpu, ext, age) {
      if (cpu == null && ext == null) {
        $("#temperature_block").addClass('d-none');
        return;
      }
      if (isNaN(age - 0)) {
        age = 1
      }
      opacity = Math.min(1, 30 / (1 + age));
      $("#temperature_block").css('opacity', opacity);
      $("#temperature_block").removeClass('d-none');
      if (cpu != null) {
        $("#cpu").removeClass('d-none');
        $("#cpu_temp").removeClass('d-none');
        $("#cpu_temp").text(cpu + "°C");
        if (cpu < 50) {
          $("#cpu_temp").css('color', 'green');
        } else if (cpu < 80) {
          $("#cpu_temp").css('color', 'orange');
        } else {
          $("#cpu_temp").css('color', 'red');
        }
      } else {
        $("#cpu").addClass('d-none');
        $("#cpu_temp").addClass('d-none');
      }
      if (ext != null) {
        $("#ext").removeClass('d-none');
        $("#ext_temp").removeClass('d-none');
        $("#ext_temp").text(ext + "°C");
        if (ext < -10) {
          $("#ext_temp").css('color', 'orange');
        } else if (ext < 40) {
          $("#ext_temp").css('color', 'green');
        } else if (ext < 50) {
          $("#ext_temp").css('color', 'orange');
        } else {
          $("#ext_temp").css('color', 'red');
        }
      } else {
        $("#ext").addClass('d-none');
        $("#ext_temp").addClass('d-none');
      }
    }

    function show_spinner() {
      document.getElementById("loader").style.display = "block";
      document.getElementById("overlay").style.display = "block";
      console.log('show_spinner');
    }
    function hide_spinner() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("overlay").style.display = "none";
      console.log('hide_spinner');
    }

    $(document).find('form').each((key, value) => {
      //console.log(value)
      value.addEventListener("submit", (event) => { show_spinner(); });
    });
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();

      $("form").submit(function () {
        // stupid hack to get checkboxes that are unchecked into Flask
        // first hide the form (so the checkboxes don't visibly turn back on)
        // then artificially check them all, but give them values of 0/1 to represent
        // whether they were checked or not
        var this_master = $(this);
        this_master.hide();
        this_master.find('input[type="checkbox"]').each(function () {
          var checkbox_this = $(this);
          if (checkbox_this.is(":checked") == true) {
            checkbox_this.attr("value", "1");
          } else {
            checkbox_this.prop("checked", true);
            checkbox_this.attr("value", "0");
          }
        });
      });
      {% if is_enabled('temperature_block') %}
      get_temperatures();
      {% endif %}
    });
  </script>
</head>

<body>
  <div id="loader" style="display: none"></div>
  <div id="overlay" style="display: none">
    <div id="overlaytext">
      please wait
      <br />
      this could take several minutes
    </div>
  </div>
  <div class="container pt-5 mt-3">
    {% block content %}{% endblock %}
    <footer class="text-center text-lg-start text-muted bg-body">
      <hr class="mt-5" />
      <section class="d-flex justify-content-center justify-content-lg-between border-bottom small">
        <div class="me-5 d-lg-block">
          <span>
            Running <a href="https://adsb.im/home">ADS-B Feeder Image</a> {{ env_value_by_tag("base_version") }},
            running on {{ env_value_by_tag("board_name") }}.
            <br />
            {{ env_value_by_tag("image_name") }}
            <br />
          </span>
        </div>
      </section>
      <section class="d-flex justify-content-center justify-content-lg-between border-bottom small">
        <div class="d-lg-block">
          <span class="me-3 mb-1">
            For help and questions, please go to the
            <a href="https://adsblol.zulipchat.com/#narrow/stream/391168-adsb-feeder-image">adsb-feeder-image Zulip
              channel</a>
          </span>| <span class="ms-3">
            <a href="https://ko-fi.com/H2H2H3JS5" target="_blank"><img height="1.5em" style="border:0.1em;height:1.3em;"
                   src="https://storage.ko-fi.com/cdn/brandasset/kofi_button_stroke.png" border="0"
                   alt="Help sustain this project at ko-fi.com" /></a>
          </span>
        </div>
      </section>
    </footer>
  </div>
</body>

</html>
