{% extends 'base.html' %}
{% set active_page = "expert" %}

{% block content %}
<h1>{% block title %} Expert setup {% endblock %}</h1>
<h3 class="mt-5">Set explicit ADSB SDR gain</h3>
<form method="POST">
    <div class="row">
        <label for="gain" class="col-8">
            Normally the feeder will settle on a good gain value over time (and an AirSpy will do so almost
            immediately). If you want to override that "autogain" behavior, you can set an explicit gain value here.
        </label>
        <input class="col-8 ml-2" id="gain" name="gain" type="text" value="{{ env_value_by_tag('gain') }}" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3 col-sm-2" name="gain--submit" value="go">Submit</button>
    </div>
</form>
<div style="display: {% if is_enabled('uat978') %} block {% else %} none {% endif %};">
    <h3 class="mt-5">Set explicit UAT SDR gain</h3>
    <form method="POST">
        <div class="row">
            <label for="uatgain" class="col-8">
                Normally the feeder will settle on a good gain value over time (and an AirSpy will do so almost
                immediately). If you want to override that "autogain" behavior, you can set an explicit gain value here.
            </label>
            <input class="col-8 ml-2" id="uatgain" name="uatgain" type="text" value="{{ env_value_by_tag('uatgain') }}"
                required>
            <button type="submit" class="btn btn-primary mb-1 ml-3 col-sm-2" name="uatgain--submit"
                value="go">Submit</button>
        </div>
    </form>
</div>
<h3 class="mt-5">Add additional Ultrafeeder arguments</h3>
<form method="POST">
    <div class="row">
        <label for="ultrafeeder_extra_args" class="col-8">
            There are very few circumstances where this is something you want to manually add. One might be a situation
            where you want to feed an aggregator that uses the 'standard' format of all the semi-anonymous aggregators,
            but that isn't supported out of the box.
            Add the data that you need here - it will be appended to the Ultrafeeder config; do not add a leading
            semicolon.
        </label>
        <input class="col-8 ml-2" id="ultrafeeder_extra_args" name="ultrafeeder_extra_args" type="text"
            value="{{ env_value_by_tag('ultrafeeder_extra_args') }}" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3 col-sm-2" name="ultrafeeder_extra_args--submit"
            value="go">Submit</button>
    </div>
</form>

<!-- FULL_IMAGE_ONLY_START -->
<!-- SECURE_IMAGE_START -->
<h3 class="mt-5">Install ssh credentials</h3>
<form method="POST">
    <div class="row">
        <label for="ssh_pub" class="col-12">
            Enter or paste your public key below. This will allow you to then log in as root on the feeder SBC.
        </label>
        <input class="col-8 ml-2" id="ssh_pub" name="ssh_pub" type="text" placeholder=" Enter your public key" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3 col-sm-2" name="ssh" value="stay">Submit</button>
    </div>
</form>

<h3 class="mt-5">Secure feeder system</h3>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="secure_image" class="col-8">Attempt to make it somewhat harder for a local user to
            gain access to the image. Of course, anyone with physical access to the feeder hardware can circumvent
            the protection attemted here. Make sure you have an ssh key set up and tested before doing this, or
            you will permanently log yourself out of this image.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-sm-2" name="secure_image" value="go">Update
            Settings</button>
    </div>
</form>
<!-- SECURE_IMAGE_END -->

<h3 class="mt-5">Shutdown/Reboot</h3>
<form method="POST">
    <div class="row">
        <label for="shutdown" class="col-8">Shutdown the feeder. Most boards won't turn off power by themselves.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-sm-2" name="shutdown"
            value="wait">Shutdown</button>
        <label for="reboot" class="col-8">Reboot the feeder. Please note that some boards are not able to reboot without
            manually power cycling.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-sm-2" name="reboot" value="wait">Reboot</button>
    </div>
</form>

<h3 class="mt-5">Nightly system update settings</h3>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <input type="checkbox" class="mb-3 col-sm-2" name="nightly_base_update--is_enabled"
                    id="nightly_base_update--is_enabled" {% if is_enabled("nightly_base_update") %} checked {% endif %}>
                <label for="nightly_base_update--is_enabled" class="col-sm-10">Update the ADSB Feeder base OS every
                    night</label>
                <input type="checkbox" class="mb-3 col-sm-2" name="nightly_feeder_update--is_enabled"
                    id="nightly_feeder_update--is_enabled" {% if is_enabled("nightly_feeder_update") %} checked {% endif
                    %}>
                <label for="nightly_feeder_update--is_enabled" class="col-sm-10">Update the ADSB Feeder applications
                    every
                    night</label>
                <input type="checkbox" class="mb-3 col-sm-2" name="nightly_container_update--is_enabled"
                    id="nightly_container_update--is_enabled" {% if is_enabled("nightly_container_update") %} checked {%
                    endif %}>
                <label for="nightly_container_update--is_enabled" class="col-sm-10">Update the ADSB Feeder containers
                    every
                    night</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-sm-2" name="nightly_update" value="go">Update
            Settings</button>
    </div>
</form>

<h3 class="mt-5">Update feeder containers</h3>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="update" class="col-8">Update to the currently recommended container images.
            This could take several minutes, depending on the speed of your internet connection and the amount of the
            changes made in the containers.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-sm-2" name="update" value="go">Update
            now</button>
    </div>
</form>
<!-- FULL_IMAGE_ONLY_END -->
<h3 class="mt-5">Update feeder applications</h3>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="update_feeder_aps" class="col-8">Update to the current ADSB feeder applications (i.e. the web UI and
            setup apps).
            This could take several minutes, depending on the speed of your internet connection and the amount of the
            changes made.
        </label>
        <button type="submit" class="btn btn-primary mb-3 mt-3 ml-3 col-sm-2" name="update_feeder_aps" value="go">Update
            now</button>
    </div>
</form>
<!-- FULL_IMAGE_ONLY_START -->
<h3 class="mt-5">Add Zerotier</h3>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="zerotierid" class="col-8">
            Zerotier support allows to connect your ADSB Feeder to you own global area network. Please add your
            your Zerotier Network ID below.<br />
            Once this process has completed, you need to accept the new device into the network on the Zerotier website.
        </label>
        <input class="col-8 ml-2" id="zerotierid" name="zerotierid" type="text"
            value="{{ env_value_by_tag('zerotierid') }}" placeholder=" Enter your Zerotier Network ID" required>
        <button type="submit" class="btn btn-primary mb-1 ml-3 col-sm-2" name="zerotier" value="go">Submit</button>
    </div>
</form>

<h3 class="mt-5">Add Tailscale</h3>
<form method="POST" onsubmit="show_spinner(); return true;">
    <div class="row">
        <label for="tailscale" class="col-8">
            Tailscale support allows to connect your ADSB Feeder to your own tailnet. <br />
            {% if env_value_by_tag("tailscale_name") == "" %}In order to do this, we will start
            the <code>tailscale</code> client on the feeder SBC and then redirect you back here and add a link to the
            login page so you can authenticate the device on your tailnet.{% endif %}<br />
            {% if env_value_by_tag("tailscale_ll") != "" %}
            Click this <a href="{{ env_value_by_tag('tailscale_ll') }}" target="_blank">link to open {{
                env_value_by_tag("tailscale_ll") }}</a>. After you have logged in, please come back to this tab and
            reload this page.{% endif %}
            {% if env_value_by_tag("tailscale_name") != "" %}
            This device should now be on your tailnet as '{{ env_value_by_tag("tailscale_name") }}'.{% else %}
            You can add options like a specific <code>--login-server</code> below. But please note that
            <code>--authkey</code> isn't supported at this point.{% endif %}
        </label>
        <input class="col-8 ml-2" id="tailscale_extras" name="tailscale_extras" type="text"
            value="{{ env_value_by_tag('tailscale_extras') }}"
            placeholder=" Enter additional tailscale options you need" {% if env_value_by_tag("tailscale_name") !="" or
            env_value_by_tag("tailscale_ll") !="" %}style="display: none;" {% endif %}>
        <button type="submit" class="btn btn-primary mb-1 ml-3 col-sm-2" name="tailscale" value="go" {% if
            env_value_by_tag("tailscale_name") !="" or env_value_by_tag("tailscale_ll") !="" %}style="display: none;" {%
            endif %}>Submit</button>
    </div>
</form>
<!-- FULL_IMAGE_ONLY_END -->

{% endblock %}