{% extends 'base.html' %}
{% set active_page = "expert" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} Expert Setup {% endblock %}</h1>
<div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<div class="row small">
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Add additional Ultrafeeder arguments</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="ultrafeeder_extra_args">
            There are very few circumstances where this is something you want to manually add. One might be a
            situation where you want to feed an aggregator that uses the 'standard' format of all the account-less
            aggregators, but that isn't supported out of the box.
            Add the configuration that you need here - it will be appended to the Ultrafeeder config.
          </label>
        </div>
        {% if is_enabled('stage2') %}
        <div class="col-12 mb-2">Stage2: applied to all microsite ultrafeeder instances (SITENUM is replaced with 00, 01, 02 and so forth):</div>
        <div class="col-8">
          <input class="mx-auto w-100" id="ultrafeeder_extra_args_microsites" name="ultrafeeder_extra_args_microsites"
                 type="text" value="{{ env_value_by_tag('ultrafeeder_extra_args_microsites') }}">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="ultrafeeder_extra_args_microsites--submit"
                  value="go">Submit</button>
        </div>
        <div class="col-12 mb-2">Stage2: applied to the ultrafeeder instance with combined data:</div>
        <div class="col-8">
          <input class="mx-auto w-100" id="ultrafeeder_extra_args" name="ultrafeeder_extra_args" type="text"
                 value="{{ env_value_by_tag('ultrafeeder_extra_args') }}">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="ultrafeeder_extra_args--submit"
                  value="go">Submit</button>
        </div>
        {% else %}
        <div class="col-8">
          <input class="mx-auto w-100" id="ultrafeeder_extra_args" name="ultrafeeder_extra_args" type="text"
                 value="{{ env_value_by_tag('ultrafeeder_extra_args') }}">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="ultrafeeder_extra_args--submit"
                  value="go">Submit</button>
        </div>
        {% endif %}
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Add environment variables to containers</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="ultrafeeder_extra_env">
            The various Docker containers support a lot more environment variables than are exposed here in
            the UI. If there are settings that you need to add, this is the best place to do it. Please only use this if
            you understand what you are doing. It's reasonably simple to break your setup by inserting things here that
            cause the container not to start.<br />
            Please enter them one per line, with an equals sign separating the variable name from its value. The name
            spaces for the different containers are distinct, so for simplicity they are all just added here together.
          </label>
        </div>
        <div class="col-8">
          <textarea class="mx-auto w-100" id="ultrafeeder_extra_env" name="ultrafeeder_extra_env"
                    placeholder="READSB_RTLSDR_PPM=22&#13;&#10;READSB_RANGE_OUTLINE_HOURS=72">{{ env_value_by_tag('ultrafeeder_extra_env') }}</textarea>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="ultrafeeder_extra_env--submit"
                  value="go">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Add arguments to map URLs</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="tar1090_query_params">
            tar1090, the software used to create the map display used here, contains a plethora of URL <a
               href="https://github.com/wiedehopf/tar1090/blob/master/README-query.md">query parameters</a>. If you have
            preferred query parameters that you always want to use, you can add them here.
          </label>
        </div>
        <div class="col-8">
          <input class="mx-auto w-100" id="tar1090_query_params" name="tar1090_query_params" type="text"
                 placeholder="?autoselect&centerReceiver" value="{{ env_value_by_tag('tar1090_query_params') }}">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="tar1090_query_params--submit"
                  value="go">Submit</button>
        </div>
      </div>
    </form>
  </div>
  {% if is_enabled('has_gpsd') %}
  {% if is_enabled('use_gpsd') %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">GPS based location</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="turn_off_gpsd">
            Select this to stop using GPS derived location data.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="turn_off_gpsd" value="go">Update
            Settings</button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">GPS based location</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="turn_on_gpsd">
            You appear to have gpsd installed and configured. Select this to use GPS derived location data.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="turn_on_gpsd" value="go">Update
            Settings</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  {% endif %}
  {% if is_image %}
  {% if env_value_by_tag('temp_sensor') == "" %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Temperature sensor</h5>
    <form id="temp_sensor_form" method="POST">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="temp_sensor_enable">
            This is certainly a more advanced feature, but if you have a DHT11 or DHRT22 temperature sensor and connect it to PINs
            1 (Vcc), 7 (Data) and 9 (Ground), you can enable it here.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="temp_sensor_enable" value="go" onclick="show_temp_sensor_dialog(); return false;">Enable temp sensor</button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Temperature sensor</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="temp_sensor_disable">
            Disable temperature sensor support.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="temp_sensor_disable" value="go">Disable temp sensor</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  <!-- place the modal dialog here in an invisible div -->
  <div class="modal fade" id="tempsensor_dialog" tabindex="-1" aria-labelledby="tempsensor_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tempsensor_label">Pick your temperature sensor</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 d-flex">
              <label class="flex-grow-1">Sensor type</label>
              {% if env_value_by_tag('board_name').startswith('Raspberry Pi') %}
              <label class="mx-1"><input id="has_dht22" type="radio" name="tempsensor" value="dht22"> DHT11 / DHT22</label>
              {% endif %}
              {% if env_value_by_tag('board_name').startswith('Raspberry Pi') %}
              <label class="mx-1"><input id="has_bme280" type="radio" name="tempsensor" value="bme280"> BME280</label>
              {% endif %}
              <label class="mx-1"><input id="has_temper_usb" type="radio" name="tempsensor" value="temper_usb"> TEMPer USB</label>
            </div>
            <div class="col-12" id="pin_container">
              <label for="dht22_pin" id="pin_label" class="col-12 col-sm-9">GPIO Pin, typically 4</label>
              <input class="col-10 col-sm-2 ms-3" id="dht22_pin" name="dht22_pin" type="text" style="height: 2rem;"
                     value="" />
            </div>
            <div class="col-12 mx-0 mt-3">
              <input class="form-switch" id="freedom_units" name="freedom_units" type="checkbox" />
              <label class="ms-2" for="freedom_units">Use Fahrenheit</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-mdb-ripple-init onclick="save_temp_setup()">Save</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if env_value_by_tag('tar1090_image_config_link') != '' %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Don't show config link on map page</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="no_config_link">If you want to share ONLY the map / statistics with others, but don't want to show
            them the link to the adsb.im feeder image home page (which allows them to change the configuration), you can
            disable it here. Please note that the user still can simply access that page by changing the port that they
            access your feeder on from {{ env_value_by_tag('tar1090port') }} to {{ env_value_by_tag('webport') }},
            unless you filter this out through some firewall settings (which isn't something this image supports).
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="no_config_link" value="go">Disable config link</button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Show config link on map page</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="allow_config_link">Reenable the link to the adsb.im feeder image home page on the map page.
            Please make sure that both the map port {{ env_value_by_tag('tar1090port') }} and the feeder UI port
            {{ env_value_by_tag('webport') }} are accessible to users.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="allow_config_link" value="go">Enable config link</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">CSS Theme</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <span class="text-nowrap">
            <input type="radio" name="css_theme" id="css_light" value="light" {% if
              env_value_by_tag("css_theme")=="light" %} checked {% endif %}>
            <label class="form-check-label mr-3" for="css_light">Light Theme</label>
          </span>
          <span class="text-nowrap">
            <input type="radio" name="css_theme" id="css_dark" value="dark" {% if
              env_value_by_tag("css_theme")=="dark" %} checked {% endif %}>
            <label class="form-check-label mr-3" for="css_dark">Dark Theme</label>
          </span>
          <span class="text-nowrap">
            <input type="radio" name="css_theme" id="css_auto" value="auto" {% if
              env_value_by_tag("css_theme")=="auto" %} checked {% endif %}>
            <label class="form-check-label mr-3" for="css_auto">Auto</label>
          </span>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="css_theme--submit"
                  value="go">Submit</button>
        </div>
      </div>
    </form>
  </div>
  {% if is_enabled('docker_concurrent') %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Docker pull: Disable concurrent downloads</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="disable_parallel_docker">
            Disabling concurrent downloads can be helpful on slow connections to avoid update
            failures or improve update speed slightly.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="disable_parallel_docker" value="go">
            Disable concurrency</button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Docker pull: Enable concurrent downloads</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="enable_parallel_docker">
            Concurrent downloads are the default behavior and work well on most connections.
            However, not using concurrent downloads can be helpful on slow connections to avoid
            update failures or improve update speed slightly.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="enable_parallel_docker" value="go">
            Enable concurrency</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  {% if is_enabled('docker_ipv6') %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Docker bridge network IPv6</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="docker_ipv6--disable">
              The docker bridge network has been configured to enable IPv6.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="docker_ipv6--disable" value="go">
            Disable docker bridge IPv6</button>
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Docker bridge network IPv6</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="docker_ipv6--enable">
              The docker bridge network by default does not have IPv6 enabled.
              Rare connectivity issues make it useful to enable it, in general this is not recommended.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="docker_ipv6--enable" value="go">
            Enable docker brige IPv6</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">SDRPlay: Ignore Serial</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="sdrplay_ignore_serial--{% if is_enabled('sdrplay_ignore_serial') %}disable{% else %}enable{% endif %}">
              Some SDRPlay / RSP devices will not always show up with serial.
              If only one SDRPlay device is connected, enable this option to ignore the serial.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100"
            name="sdrplay_ignore_serial--{% if is_enabled('sdrplay_ignore_serial') %}disable{% else %}enable{% endif %}"
            value="go">
            {% if is_enabled('sdrplay_ignore_serial') %}Disable{% else %}Enable{% endif %}
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- the rest of this will create its own spread across two columns on wider screens -->
  <div class="col-12">
    <div class="row">
      <h5 class="mt-3 col-12">Enable non-ADS-B containers</h5>
      <form class="col-12" method="POST" onsubmit="show_spinner(); return true;">
        <div class="row align-items-center">
          <div class="col-12 mb-2">
            In addition to tracking ADS-B data, it is possible to enable a number of others
            SDR-based tracking containers in this image. The SDRs can be assigned on the
            <a href="/sdr_setup">SDR Setup page</a> once the protocols are enabled here.
            Similarly, data sharing can be configured on the main
            <a href="/aggregators">Data Sharing page</a>.
          </div>
          <div class="col-12 mb-2">
            The feed IDs below are typically in the form of <code>FL-ICAO-ACARSn</code> where <code>FL</code> are your initials (two or three letters), <code>ICAO</code> is the closest airport, <code>ACARS</code> should be the respective protocol (ACARS, VDL, HFDL) and <code>n</code> is a number to distinguish your feeds if necessary.
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              <!-- first ACARS -->
              {% if not is_enabled('acarsdec') %}
              <div class="col-8 my-1">
                <label for="acarsdec--enable">
                  Enable first analog ACARS decoder
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acarsdec--enable"
                        value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="acarsdec--disable">
                  First analog ACARS decoder
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="acarsdec--disable"
                        formnovalidate value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acarsdec--update"
                        value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="acars_feed_id">
                  ACARS feed ID (see above)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="acars_feed_id" id="acars_feed_id"
                      submit_button="acarsdec--update"
                      {% if is_enabled('acarsdec') %} required {% endif %}
                      placeholder="required ACARS feed ID"
                      value="{{ env_value_by_tag('acars_feed_id') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="acars_frequencies">
                  ACARS frequencies <span class="text-danger" id="acars_frequencies_error"
                  style="display: none;"><br>values must fit in 2.4MHz</span>
                </label>
              </div>
              <div class="col-8 mb-1" data-update="acarsdec--update">
                <input type="text" class="mx-auto w-100 two_mhz" name="acars_frequencies" id="acars_frequencies"
                      submit_button="acarsdec--update"
                      {% if best_acars_frequencies != '' %}
                      placeholder="copying the frequencies below is a good starting point"
                      {% else %}
                      placeholder="default values should work as a starting point"
                      {% endif %}
                      value="{{ env_value_by_tag('acars_frequencies') }}">
              </div>
              {% if best_acars_frequencies != '' %}
              <div class="col-12 mb-1 text-muted">
                <p>Based on your location, these ACARS frequencies appear to carry the most messages:<br>
                  <code class="rounded text-info">{{ best_acars_frequencies }}</code>
                  <button type="button" class="btn btn-outline-info btn-rounded btn-sm align-middle ms-2"
                          onclick="$('#acars_frequencies').val('{{ best_acars_frequencies }}');">Use these</button></p>
              </div>
              {% endif %}
              {% if env_value_by_tag('acarsserial') == '' %}
              <div class="col-12 mb-1 text-warning">
                <p>No SDR is assigned for ACARS - you can change that on the <a href="/sdr_setup">SDR Setup</a> page.</p>
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('acarsdec2') %}
              <!-- second ACARS -->
              <div class="col-8 my-1">
                <label for="acarsdec2--enable">
                  Enable second analog ACARS decoder (to allow covering the rarely used frequencies below 130MHz - which is rarely useful outside of the US)
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acarsdec2--enable"
                        value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="acarsdec2--disable">
                  Second analog ACARS decoder
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="acarsdec2--disable"
                        formnovalidate value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acarsdec2--update"
                        value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="acars_2_feed_id">
                  ACARS2 feed ID (see above)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="acars_2_feed_id" id="acars_2_feed_id"
                      submit_button="acarsdec2--update"
                      {% if is_enabled('acarsdec2') %} required {% endif %}
                      placeholder="required ACARS2 feed ID"
                      value="{{ env_value_by_tag('acars_2_feed_id') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="acars_2_frequencies">
                  ACARS2 frequencies <span class="text-danger" id="acars_2_frequencies_error"
                  style="display: none;"><br>values must fit in 2.4MHz</span>
                </label>
              </div>
              <div class="col-8 mb-1" data-update="acarsdec2--update">
                <input type="text" class="mx-auto w-100 two_mhz" name="acars_2_frequencies" id="acars_2_frequencies"
                      submit_button="acarsdec2--update"
                      placeholder="default values should be a good starting point"
                      value="{{ env_value_by_tag('acars_2_frequencies') }}">
              </div>
              {% if env_value_by_tag('acars_2serial') == '' %}
              <div class="col-12 mb-1 text-warning">
                <p>No SDR is assigned for ACARS_2 - you can change that on the <a href="/sdr_setup">SDR Setup</a> page.</p>
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('dumpvdl2') %}
              <!-- VDL Mode 2 -->
              <div class="col-8 my-1">
                <label for="dumpvdl2--enable">
                  Enable VDL Mode 2 decoder
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="dumpvdl2--enable"
                        value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="dumpvdl2--disable">
                  VDL Mode 2 decoder
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="dumpvdl2--disable"
                        formnovalidate value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="dumpvdl2--update"
                        value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="vdl2_feed_id">
                  VDL2 feed ID (see above)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="vdl2_feed_id" id="vdl2_feed_id"
                      submit_button="dumpvdl2--update"
                      {% if is_enabled('dumpvdl2') %} required {% endif %}
                      placeholder="required VDL2 feed ID"
                      value="{{ env_value_by_tag('vdl2_feed_id') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="vdl2_frequencies">
                  VDL2 frequencies<span class="text-danger" id="vdl2_frequencies_error"
                  style="display: none;"><br>values must fit in 1.2MHz</span>
                </label>
              </div>
              <div class="col-8 mb-1" data-update="dumpvdl2--update">
                <input type="text" class="mx-auto w-100 one_mhz" name="vdl2_frequencies" id="vdl2_frequencies"
                      submit_button="dumpvdl2--update"
                      {% if best_vdl2_frequencies != '' %}
                      placeholder="copying the frequencies below is a good starting point"
                      {% else %}
                      placeholder="default values should be a good starting point"
                      {% endif %}
                      value="{{ env_value_by_tag('vdl2_frequencies') }}">
              </div>
              {% if best_vdl2_frequencies != '' %}
              <div class="col-12 mb-1 text-muted">
                <p>Based on your location, these VDL2 frequencies appear to carry the most messages:<br>
                  <code class="rounded text-info">{{ best_vdl2_frequencies }}</code>
                  <button type="button" class="btn btn-outline-info btn-rounded btn-sm align-middle ms-2"
                          onclick="$('#vdl2_frequencies').val('{{ best_vdl2_frequencies }}');">Use these</button></p>
              </div>
              {% endif %}

              {% if env_value_by_tag('vdl2serial') == '' %}
              <div class="col-12 mb-1 text-warning">
                <p>No SDR is assigned for VDL2 - you can change that on the <a href="/sdr_setup">SDR Setup</a> page.</p>
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('dumphfdl') %}
              <!-- HFDL -->
              <div class="col-8 my-1">
                <label for="dumphfdl--enable">
                  Enable HFDL support
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="dumphfdl--enable" value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="dumphfdl--disable">
                  HFDL support
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="dumphfdl--disable"
                        formnovalidate value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="dumphfdl--update" value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="hfdl_feed_id">
                  HFDL feed ID (see above)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="hfdl_feed_id" id="hfdl_feed_id"
                      submit_button="dumphfdl--update"
                      {% if is_enabled('dumphfdl') %} required {% endif %}
                      placeholder="required HFDL feed ID"
                      value="{{ env_value_by_tag('hfdl_feed_id') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="hfdl_samplerate">
                  SDR sample rate
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="hfdl_samplerate" id="hfdl_samplerate"
                      submit_button="dumphfdl--update"
                      placeholder="3000000 for Airspy"
                      value="{{ env_value_by_tag('hfdl_samplerate') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="hfdl_frequencies">
                  HFDL frequencies
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="hfdl_frequencies" id="hfdl_frequencies"
                      submit_button="dumphfdl--update"
                      placeholder="recomended to leave empty to use frequency scanner"
                      value="{{ env_value_by_tag('hfdl_frequencies') }}">
              </div>
              {% if env_value_by_tag('hfdlserial') == '' %}
              <div class="col-12 mb-1 text-warning">
                <p>No SDR is assigned for HFDL - you can change that on the <a href="/sdr_setup">SDR Setup</a> page.</p>
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('hfdlobserver') %}
              <!-- HFDLOBSERVER -->
              <div class="col-8 my-1">
                <label for="hfdlobserver--enable">
                  Enable hfdlobserver <small>(this requires a web-888 SDR on your network)</small>
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="hfdlobserver--enable" value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="hfdlobserver--disable">
                  hfdlobserver <small>(this requires a web-888 SDR on your network)</small>
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="hfdlobserver--disable" formnovalidate
                        value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="hfdlobserver--update"
                        value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="hfdl_feed_id">
                  HFDLOBSERVER feed ID (see above)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="hfdlobserver_feed_id" id="hfdl_feed_id"
                       submit_button="hfdlobserver--update"
                       {% if is_enabled('hfdlobserver') %} required {% endif %}
                       placeholder="required HFDLOBSERVER feed ID" value="{{ env_value_by_tag('hfdlobserver_feed_id') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="hfdlobserver_ip">
                  Web-888 IP address
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="hfdlobserver_ip" id="hfdlobserver_ip"
                       submit_button="hfdlobserver--update"
                       placeholder="IP address of the web-888 SDR"
                       value="{{ env_value_by_tag('hfdlobserver_ip') }}">
              </div>
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('acars2pos') %}
              <!-- ACARS2POS -->
              <div class="col-8 my-1">
                <label for="acars2pos--enable">
                  Enable acars2pos <small>(showing ACARS/VDL2/HFDL positions on the ADS-B live map)</small>
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acars2pos--enable" value="go"
                {% if not is_enabled('acarshub') %} disabled {% endif %}>Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="acars2pos--disable">
                  acars2pos <small>(showing ACARS/VDL2/HFDL positions on the ADS-B live map)</small>
                </label>
              </div>
              <div class="col-6 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="acars2pos--disable" formnovalidate
                        value="go">Disable</button>
              </div>
              {% endif %}
            </div>
          </div>

          {% if is_enabled('acarshub') %}
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if env_value_by_tag('acarshub_data_path') == '/run/acars_data' %}
              <!-- ACARSHUB_TO_DISK -->
              <div class="col-8 my-1">
                <label for="acarshub_to_disk">
                  Always keep acarshub data on disk (not recommended for sd-cards)
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acarshub_to_disk" value="go">
                  Move acarshub data to disk
                </button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="acarshub_to_run">
                  Only save acarshub data to disk on shutdown
                </label>
              </div>
              <div class="col-6 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="acarshub_to_run" value="go">
                  Move acarshub data to tmpfs
                </button>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}


          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('shipfeeder') %}
              <!-- AIS -->
              <div class="col-8 my-1">
                <label for="shipfeeder--enable">
                  Enable AIS / Shipfeeder
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="shipfeeder--enable"
                        value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="shipfeeder--disable">
                  AIS / Shipfeeder
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="shipfeeder--disable"
                        formnovalidate value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="shipfeeder--update"
                        value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="ais_station_name">
                  AIS station name (see above)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="ais_station_name" id="ais_station_name"
                      submit_button="shipfeeder--update"
                      {% if is_enabled('shipfeeder') %} required {% endif %}
                      placeholder="required AIS station name"
                      value="{{ env_value_by_tag('ais_station_name') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="ais_sx_extra_options">
                  AIS extra options
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="ais_sx_extra_options" id="ais_sx_extra_options"
                      submit_button="shipfeeder--update"
                      value="{{ env_value_by_tag('ais_sx_extra_options') }}">
              </div>
              {% if env_value_by_tag('aisserial') == '' %}
              <div class="col-12 mb-1 text-warning">
                <p>No SDR is assigned for AIS - you can change that on the <a href="/sdr_setup">SDR Setup</a> page.</p>
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('show_ships_on_map') %}
              <!-- AIS_TO_TAR1090 -->
              <div class="col-8 my-1">
                <label for="show_ships_on_map--enable">
                  Show ships on the ADS-B live map
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="show_ships_on_map--enable" value="go"
                        {% if not is_enabled('shipfeeder') %} disabled {% endif %}>Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="show_ships_on_map--disable">
                  Show ships on the ADS-B live map
                </label>
              </div>
              <div class="col-6 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="show_ships_on_map--disable" formnovalidate
                        value="go">Disable</button>
              </div>
              {% endif %}
            </div>
          </div>

          <div class="col-12 col-lg-6 mt-2">
            <div class="row border my-2">
              {% if not is_enabled('sonde') %}
              <div class="col-8 my-1">
                <label for="sonde--enable">
                  Enable Radio Sonde
                </label>
              </div>
              <div class="col-4 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="sonde--enable"
                        value="go">Enable</button>
              </div>
              {% else %}
              <div class="col-6 my-1">
                <label for="sonde--disable">
                  Radio Sonde
                </label>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-secondary mx-auto w-100" name="sonde--disable"
                        formnovalidate value="go">Disable</button>
              </div>
              <div class="col-3 my-1">
                <button type="submit" class="btn btn-primary mx-auto w-100" name="sonde--update"
                        value="go">Update</button>
              </div>
              <div class="col-4 mb-1">
                <label for="sonde_callsign">
                  Sondehub callsign
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="sonde_callsign" id="sonde_callsign"
                      submit_button="sonde--update"
                      {% if is_enabled('sonde') %} required {% endif %}
                      placeholder="required sondehub callsign"
                      value="{{ env_value_by_tag('sonde_callsign') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="sonde_min_freq">
                  Sonde minimum frequency (this is region specific)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="sonde_min_freq" id="sonde_min_freq"
                      submit_button="sonde--update"
                      value="{{ env_value_by_tag('sonde_min_freq') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="sonde_max_freq">
                  Sonde maximum frequency (this is region specific)
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="sonde_max_freq" id="sonde_max_freq"
                      submit_button="sonde--update"
                      value="{{ env_value_by_tag('sonde_max_freq') }}">
              </div>
              <div class="col-4 mb-1">
                <label for="sonde_share_position">
                  Sondehub share station location
                </label>
              </div>
              <div class="col-8 mb-1">
                <input type="text" class="mx-auto w-100" name="sonde_share_position" id="sonde_share_position"
                      submit_button="sonde--update"
                      value="{{ env_value_by_tag('sonde_share_position') }}">
              </div>
              {% if env_value_by_tag('sondeserial') == '' %}
              <div class="col-12 mb-1 text-warning">
                <p>No SDR is assigned for Sonde - you can change that on the <a href="/sdr_setup">SDR Setup</a> page.</p>
              </div>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // for each input checkbox, add an onclick handler to toggle the dependent devs (which include the input field)
  function create_feed_id(id) {
    let type = id.split("_")[0];
    let name = "{{ list_value_by_tag('initials', 0) }}-{{ list_value_by_tag('closest_airport', 0) }}-" + type.toUpperCase();
    console.log(`Feed ID: ${name}`);
    return name;
  }
  $(document).ready(function () {
    $('input[type="checkbox"]').on('change', function () {
      let dependent = "." + $(this).attr('id') + "_dependent";
      let checked = $(this).is(':checked');
      $(dependent).each(function() {
        $(this).toggle(checked);
      })
    });
    // for each text input field with an id ending in either "_feed_id" or "_station name, check that they aren't empty, both initially and on any change
    $('input[id$="_feed_id"], input[id$="_station_name"]').each(function () {
      if ($(this).val() == "") {
        $(this).val(create_feed_id($(this).attr('id')));
      }
      $(this).on('change', function () {
        if ($(this).val() == "") {
          $(this).val(create_feed_id($(this).attr('id')));
        }
      })
    })
    function validate_range() {
      let range = 0;
      if ($(this).attr('class').includes("two_mhz")) {
        range = 2.4;
      }
      if ($(this).attr('class').includes("one_mhz")) {
        range = 1.2;
      }
      let value = $(this).val();
      value = value.replaceAll(";", " ").replaceAll(",", " ").replaceAll("  ", " ");
      let freq_array = value.split(" ").filter(function (i) { return i }).sort();
      // compare the first and last element of the sorted array and scale correctly for Hz/kHz/MHz
      last = freq_array.length - 1;
      if (last == -1) {
        $("#" + $(this).attr('id') + "_error").hide();
        $('button[name=' + $(this).parent().data('update') + ']').prop("disabled", false);
        return;
      }
      let delta = freq_array[last] - freq_array[0];
      if (freq_array[0] < 200) {
        range *= 1;
      } else if (freq_array[0] < 200000) {
        range *= 1000;
      } else {
        range *= 1000000;
      }
      // toggle the error message and set the button disabled (or not)
      $("#" + $(this).attr('id') + "_error").toggle(delta > range);
      $('button[name=' + $(this).parent().data('update') + ']').prop("disabled", delta > range);
    }
    $('input[type="text"]').each(function () {
      if ($(this).attr('class').includes("two_mhz") || $(this).attr('class').includes("one_mhz")) {
        validate_range.call(this);
        $(this).on('change', validate_range);
      }
    });
    $('input[type="text"]').each(function () {
      // for text input fields with a submit_button attribute, simulate pressing that button when enter is pressed
      if ($(this).attr('submit_button')) {
        $(this).on('keypress', function (e) {
          if (e.key == "Enter") {
            $('button[name=' + $(this).attr('submit_button') + ']').click();
            return false;
          }
        });
      }
    });

  });
  let modal = new mdb.Modal($("#tempsensor_dialog"))
  $('input[name="tempsensor"][type="radio"]').on('change', function () {
    console.log("has_dht22 " + $("#has_dht22").is(':checked'))
    $("#pin_container").toggleClass("d-none", !$("#has_dht22").is(':checked'));
   });

  function show_temp_sensor_dialog() {
    $("#freedom_units").prop("checked", "True" === "{{ is_enabled('freedom_units') }}");
    $("#pin_container").toggleClass("d-none", !$("#has_dht22").is(':checked'));
    modal.show();
  }
  function save_temp_setup() {
    let sensor = $('input[name="tempsensor"]:checked').val();
    modal.hide();
    let temp_sensor_form = $("#temp_sensor_form");
    let form_data = new FormData(temp_sensor_form[0]);
    form_data.append("temp_sensor_enable", "go");
    form_data.append("temp_sensor", sensor);
    form_data.append("dht22_pin", $("#dht22_pin").val());
    form_data.append("freedom_units", $("#freedom_units").is(':checked'));
    console.log(form_data);
    show_spinner();
    let response = fetch("/expert", {
      method: "POST",
      body: form_data,
      signal: AbortSignal.timeout(15000)
    })
    .then(response => {
      console.log(response);
      location.href = response.url;
    })
    .catch(error => {
        console.log(error);
    });
  }
</script>
{% endblock %}
