{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}
{# painfully figure out which sites we are handling here - just the base, or a list of proxies? #}
{% set ns = namespace() %}
{% set ns.site_indices = [] %}
{% if is_enabled('stage2') %}
{% for site in env_value_by_tag('site_name') %}
{% if loop.index0 > 0 %}
{% set ns.site_indices = ns.site_indices + [loop.index0] %}
{% endif %}
{% endfor %}
{% else %}
{% set ns.site_indices = [0] %}
{% endif %}
{% set num_micro_sites = (ns.site_indices | length) %}
<h1 class="mt-3 text-center text-danger">
  {% block title %}ADS-B Feeder Homepage for {{ list_value_by_tag("site_name", 0) }}{% endblock %}
</h1>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
<div class="alert alert-danger {% if env_value_by_tag('dns_state') %}d-none{% endif %}" role="alert">
  The feeder cannot resolve DNS queries. This will most likely prevent it from working at all.
</div>
<div class="alert alert-danger {% if not ipv6_broken %}d-none{% endif %}" role="alert">
  The feeder has an IPv6 address but IPv6 isn't working. This can cause docker and other issues.
</div>
<div class="alert alert-danger {% if not compose_up_failed %}d-none{% endif %}" role="alert">
  docker compose up has failed. This means that something is wrong.
  <form method="POST">
    <button type="submit" name="submit" value="go" class="btn btn-primary">Retry</button>
  </form>
</div>
<div class="alert alert-danger {% if not env_value_by_tag('under_voltage') %}d-none{% endif %}" role="alert">
  The feeder system kernel detected under-voltage. This can lead to random crashes and various issues with clock
  stability, reduced reception, failing SDRs, etc. Please check and likely replace your power supply.
</div>
<div id="ip-mismatch" class="alert alert-info d-none" role="alert">
  The external IP of your browser and the feeder are different. The information in the status links for some of the
  aggregators below may be incorrect.
</div>
<div id="low-disk" class="alert alert-info {% if not env_value_by_tag('low_disk') %}d-none{% endif %}" role="alert">
  You are running low on disk space on the your feeder. This can lead to odd problems and even crashes. Consider
  upgrading to a larger storage device.
</div>
<div class="row">
  <div
       class="col-12 mb-3 {% if env_value_by_tag('aggregator_choice') not in ['micro', 'nano'] or is_enabled('stage2') %} d-none {% endif %}">
    <h5>You are running in {{ env_value_by_tag('aggregator_choice') }} feeder mode</h5>
    <div class="mt-3" id="stage2_contact_placeholder">Checking on last connection...</div>
    <div class="mt-3 d-none" id="stage2_contact">The Stage2 system at address <span id="stage2_address"></span> has
      recently accessed this feeder.</div>
    <div class="mt-3 d-none" id="stage2_no_recent_contact">No Stage2 system has recently accessed this feeder. The last
      contact was from <span id="stage2_last_contact_ip"></span> <span id="stage2_last_contact_time_since"></span> ago
    </div>
    <div class="mt-3 d-none" id="stage2_no_contact_found">Connect a Stage2 system (which will feed aggregators) to this
      system.
      Most likely {% if tailscale_address != "" or zerotier_address != "" %}one of {%endif%}{{ local_address }}
      {% if tailscale_address != "" %}, {{ tailscale_address}}{% endif %}{% if zerotier_address != "" %},
      {{ zerotier_address}}{% endif %} will work as the IP address for this {{ env_value_by_tag('aggregator_choice') }} feeder.
    </div>
  </div>
  <div class="col-12 mb-3 {% if is_enabled('stage2') %} d-none {% endif %}">
    Position / Message rate: <a id="{% if not is_enabled('stage2') %}mf_status_0{% endif %}"
    {% if env_value_by_tag('aggregator_choice') != 'nano' %} href="/stats_0/" {% endif %}></a>
  </div>
  <div class="col-12 mb-3 {% if not is_enabled('stage2') %} d-none {% endif %}">
    <h5>You are running as stage 2 feeder</h5>
    <div class="col-12 mb-3">{% if env_value_by_tag('num_micro_sites') == 0 %}No micro feeder sites configured, yet.
      Please do so on the <a href={{ url_for('stage2') }}>Stage 2 Setup page</a>{% else %}
      <table class="table table-bordered table-sm lh-1 w-auto table-striped">
        <thead>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">Status / Stats</th>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" scope="row">*</td>
            <td class="text-left"><a href="/map/">{{ list_value_by_tag("site_name", 0) }}</a></td>
            <td class="text-center"><a id="mf_status_0" href="/stats/"></a></td>
          </tr>
          {% for site in env_value_by_tag('site_name') if not site == list_value_by_tag('site_name', 0) %}
          <tr>
            <td class="text-center" scope="row">{{loop.index}}</td>
            <td class="text-left"><a href="/map_{{loop.index}}/">{{site}}</a></td>
            <td class="text-center"><a id="mf_status_{{loop.index}}" href="/stats_{{loop.index}}/"></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      More configuration options for this are available on the <a href={{ url_for('stage2') }}>Stage 2 Setup
        page</a>{% endif %}
    </div>
  </div>
  <div class="col-12 {% if (aggregators | length) == 0 %} d-none {% endif %}">
    <h4>You are feeding</h4>
    <div class="row small">
      {% for tc in agg_tables %}
      <div class="col-12 {% if num_micro_sites < 4 %}col-md-6{% endif %}" style="overflow-x: auto;">
        <table class="table table-bordered table-sm lh-1 table-striped">
          <thead>
            <td>Aggregator</td>
            <td class="text-center" colspan="{{num_micro_sites}}">Enabled</td>
            <td class="text-center" colspan="{{num_micro_sites}}">Data</td>
            <td class="text-center" colspan="{{num_micro_sites}}">MLAT</td>
            <td class="text-center" colspan="{{num_micro_sites}}">Status</td>
          </thead>
          <tbody>
            {% if num_micro_sites > 1 %}
            <tr>
              <td>Feeder #</td>
              {% for cols in [1,2,3,4] %}
              {% for idx in ns.site_indices %}
              <td class="text-center">
                <span width="3em">{{loop.index}}</span>
              </td>
              {% endfor %}
              {% endfor %}
            </tr>
            {% endif %}
            {% for agg, name, map, status, table in aggregators %}
            {% if (tc == table) %}
            <tr>
              <td>
                <a href="{{ map }}">{{ name }}</a>
              </td>
              {% for idx in ns.site_indices %}
              <td class="text-center">
                <span id="{{ agg ~ 'span' ~ idx }}" width="3em">{% if list_is_enabled(agg, idx)%}&#10003;
                  {% endif %}</span>
              </td>
              {% endfor %}
              {% for idx in ns.site_indices %}
              <td class="text-center">
                <span id="{{ agg ~ 'beast' ~ idx }}" width="3em"></span>
              </td>
              {% endfor %}
              {% for idx in ns.site_indices %}
              <td class="text-center">
                <span id="{{ agg ~ 'mlat' ~ idx }}" width="3em"></span>
              </td>
              {% endfor %}
              {% for idx in ns.site_indices %}
              <td class="text-center">
                {% if status[idx] != "" and list_is_enabled(agg, idx) %}<a
                   href="{{ status[idx] }}">&#x1f517;</a>{% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
      <div class="col-12 mb-4">
        Enabled indicates feeding the aggregator. <span class="text-success">&#10003;</span> feed is in good state,
        <span class="text-danger">&#10003;</span> feed is down,
        <span class="text-warning">&#10003;</span> feed is degraded,
        <span class="text-muted">&#10003;</span> feed state is not supported
        <br />
        <span onclick="$('#extra_legend').toggleClass('d-none'); return false;">
          <a href="">Toggle detailed legend</a>
        </span>
        <span>| Last status update: <span id=last_status_update></span></span>
        <br />
        <span class="d-none" id="extra_legend">
          '+': feed/mlat is connected; '&#x2612;': feed/mlat is not connected
          <br />
          '&#x2639;': mlat sync errors (if this persists for hours, check <a
             href="https://github.com/wiedehopf/adsb-wiki/wiki/mlat-check">this page</a>)
          <br />
          '&#x26a0;': feed is intermittent / degraded
          <br />
          '&#x26a0;': mlat sync warning (intermittent sync issue / lack of traffic / no other receivers in the area)
          <br />
          '&#x27f3;': container is up for less than a 30 seconds, not checking status
          <br />
          '&#x2608;': container is down
          <br />
          '.': status information is not available at this time or not supported
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4 {% if env_value_by_tag('aggregator_choice') in ['micro', 'nano'] %} d-none {% endif %}">
    <div class "small">
      {% if (aggregators | length) == 0 %}
        No aggregators configured. Add aggregators:
      {%else%}
        Add or remove aggregators:
      {% endif %}
      {% if is_enabled('stage2') %}
        See Data Sharing at the top of the page
      {% else %}
        <a href="/aggregators">Data Sharing</a>
      {% endif %}
    </div>
  </div>
  <div class="col-12 mb-4">
    <h5>
      ADS-B Feeder <small class="ml-1">running {{ env_value_by_tag("base_version") }}</small>
    </h5>
    <div class="mb-4">
      Latest version: <span id="latest_tag"></span> - <span id="version_update"></span>
      <br />
      <span id="advice" class="small">&nbsp;</span>
    </div>
    <div id="update_buttons" class="text-secondary">
      <h5 class="mt-1">Update feeder applications</h5>
      <form method="POST" onsubmit="show_spinner(); return true;">
        <label for="update_feeder_aps">
          Update the web UI, setup apps, and containers to the latest beta or stable version.
          <span onclick="$('#update_explain').toggleClass('d-none'); return false;">
          <a class="small" href="">Toggle update duration information</a>
          </span>
          <span class="small d-none" id="update_explain"><br/>If this update brings in new container images, even with a fast
            internet connection this can easily take more than ten minutes to complete. The web UI will pause while the
            update is running, but the feeder apps will only be briefly interrupted once all new components have been
            downloaded.</span>
        </label>
        <div class="mt-2">
          <button type="submit" class="btn btn-primary mb-3 ml-3 col-md-2" name="update_feeder_aps_beta"
                  id="update_feeder_aps_beta" disabled value="go">Update (beta)</button>
          <button type="submit" class="btn btn-primary mb-3 ml-3 col-md-2" name="update_feeder_aps_stable"
                  id="update_feeder_aps_stable" disabled value="go">Update (stable)</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12">
    <div id="UF" class="row {% if env_value_by_tag('aggregator_choice') == 'nano' %}d-none{%endif%}">
      <div class="col-12">
        <h5>{% if env_value_by_tag('aggregator_choice') == 'micro' %}Local {%endif%}TAR1090 Mapping Interface</h5>
      </div>
      <div class="col col-md-4 col-lg-3">
        <ul>
          <li>
            <a href="/map/{{ env_value_by_tag('tar1090_query_params') }}">map</a>
          </li>
          <li>
            <a href="/stats/">statistics and graphs</a>
          </li>
        </ul>
      </div>
      <div class="col col-md-4 col-lg-3">
        <ul>
          <li>
            <a href="/map/?replay">timelapse / replay</a>
          </li>
          <li>
            <a href="/map/?heatmap">heatmap</a>
          </li>
          <li>
            <a href="/map/?ptracks">tracks</a>
          </li>
        </ul>
      </div>
      <div class="text-muted small mb-4 col-12">
        Please note that after a restart (or first install) it can take up to a couple of minutes for the pages above to
        respond, so if you get an error, please wait a moment and try again.
      </div>
    </div>
    {# figure out what's enabled for the integrated feeder or the microfeeders #}
    {% for idx in ns.site_indices %}
    {% if list_is_enabled("uat978", idx) %}
    {% set ns.uat978 = true %}
    {% endif %}
    {% if list_is_enabled("adsblol", idx) %}
    {% set ns.adsblol = true %}
    {% endif %}
    {% if list_is_enabled("adsbx", idx) %}
    {% set ns.adsbx = true %}
    {% endif %}
    {% if list_is_enabled("alive", idx) %}
    {% set ns.alive = true %}
    {% endif %}
    {% if list_is_enabled("flightradar", idx) %}
    {% set ns.flightradar = true %}
    {% endif %}
    {% if list_is_enabled("flightaware", idx) %}
    {% set ns.flightaware = true %}
    {% endif %}
    {% if list_is_enabled("planefinder", idx) %}
    {% set ns.planefinder = true %}
    {% endif %}
    {% endfor %}
    <div id="UAT978" class="row {% if not ns.uat978 %}d-none{% endif %}">
      <div class="col-12">
        <h5>UAT978 Mapping Interface</h5>
      </div>
      <div class="col-12">
        <ul>
          {% for idx in ns.site_indices %}
          {% if list_is_enabled("uat978", idx) %}
          <li>
            {% if idx == 0 or list_value_by_tag('mf_ip', idx) == 'local' %}
            <a href="/dump978/">{% if idx != 0 %}{{ list_value_by_tag('site_name', idx) }}{% endif %} Dump978 map</a>
            {% else %}
            <a href="http://{{ list_value_by_tag('mf_ip', idx) }}/dump978/">{{ list_value_by_tag('site_name', idx) }}
              Dump978 map</a>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div
         class="row mt-3 {% if not (ns.adsblol or ns.flightradar or ns.planefinder or ns.adsbx or ns.alive or ns.flightaware) %}d-none{% endif %}">
      <div class="col-12">
        <h5>Additional aggregator links</h5>
      </div>
      <div class="col-12 mb-2 {% if not ns.adsblol %}d-none{% endif %}">
        <div class="lead">ADSB.lol</div>
        <ul class="mb-0">
          <li>
            <a href="https://status.adsb.lol/">ADSB.lol status</a>
          </li>
          <li>
            <a href="https://www.adsb.lol/docs/feeders-only/introduction/">ADSB.lol feeder introduction</a>
          </li>
          {% if num_micro_sites == 1 %}
          <li><a id="adsblol-link-0" href="https://my.adsb.lol/">personal ADSB.lol URL with the planes you are
              sending</a></li>
          <li><a
               href="https://mlat.adsb.lol/syncmap/#lat={{ list_value_by_tag('lat', 0) }}#lon={{ list_value_by_tag('lon', 0) }}#zoom=10">ADSB.lol
              MLAT feeder map for the area around {{ list_value_by_tag('site_name', 0) }}</a></li>
          {% endif %}
        </ul>
        {% if num_micro_sites > 1 %}
        <table class="table table-sm table-borderless lh-1 w-auto mt-0 mb-0 ms-2">
          <tbody>
            {% for idx in ns.site_indices %}
            {% if list_is_enabled("adsblol", idx) %}
            <tr>
              <th>{{ list_value_by_tag('site_name', idx) }}</th>
              <td><a class="ms-1" id="adsblol-link-{{ idx }}"> personal URL</a></td>
              <td><a
                   href="https://mlat.adsb.lol/syncmap/#lat={{ list_value_by_tag('lat', idx) }}#lon={{ list_value_by_tag('lon', idx) }}#zoom=10">MLAT
                  feeder map</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% if is_enabled('stage2') %}
        (on the MLAT maps only feeders that have MLAT privacy disabled will be shown)
        {% else %}
        {% if list_is_enabled("mlat_privacy", 0) %}
        (since you have MLAT privacy enabled, your feeder won't be shown)
        {% else %}
        (your feeder will be at an approximate location as {{ list_value_by_tag('site_name', 0) }})
        {% endif %}
        {% endif %}
      </div>
      <div class="col-12 {% if not ns.flightradar %}d-none{% endif %}">
        <div class="lead">FlightRadar 24</div>
        <table class="table table-sm table-borderless lh-1 w-auto mt-0 mb-0 ms-2">
          <tbody>
            {% for idx in ns.site_indices %}
            {% if list_is_enabled("flightradar", idx) %}
            {% if idx != 0 %}{% set suffix = '_'~idx %}{% else %}{% set suffix = '' %}{% endif %}
            <tr>
              <th>{{ list_value_by_tag('site_name', idx) }}</th>
              <td><a href="/fr24{{ suffix }}/">FR24 status</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 {% if not ns.flightaware %}d-none{% endif %}">
        <div class="lead">FlightAware</div>
        <div class="small text-muted">
          Note: The SkyAware map on the status page does not work, it's not needed to supply data to FA<br>
          (You can re-enable that map at the cost of increased cpu / memory consumption by adding PIAWARE_MINIMAL=false
          to the environment variables on the expert page)
        </div>
        <table class="table table-sm table-borderless lh-1 w-auto mt-0 mb-0 ms-2">
          <tbody>
            {% for idx in ns.site_indices %}
            {% if list_is_enabled("flightaware", idx) %}
            {% if idx != 0 %}{% set suffix = '_'~idx %}{% else %}{% set suffix = '' %}{% endif %}
            <tr>
              <th>{{ list_value_by_tag('site_name', idx) }}</th>
              <td><a href="/fa-status{{ suffix }}/">FlightAware status</a></td>
              <td class="d-none"><a href="/fa{{ suffix }}/">FlightAware map</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 {% if not ns.planefinder %}d-none{% endif %}">
        <div class="lead">PlaneFinder</div>
        <table class="table table-sm table-borderless lh-1 w-auto mt-0 mb-0 ms-2">
          <tbody>
            {% for idx in ns.site_indices %}
            {% if list_is_enabled("planefinder", idx) %}
            {% if idx != 0 %}{% set suffix = '_'~idx %}{% else %}{% set suffix = '' %}{% endif %}
            <tr>
              <th>{{ list_value_by_tag('site_name', idx) }}</th>
              <td><a href="/planefinder{{suffix}}/">Planefinder map</a>
              <td><a href="/planefinder-stat{{ suffix }}/">Planefinder stats</a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 {% if not ns.adsbx %}d-none{% endif %}">
        <div class="lead">ADSBExchange</div>
        <table class="table table-sm table-borderless lh-1 w-auto mt-0 mb-0 ms-2">
          <tbody>
            {% for idx in ns.site_indices %}
            {% if list_is_enabled("adsbx", idx) %}
            {% if idx != 0 %}{% set suffix = '_'~idx %}{% else %}{% set suffix = '' %}{% endif %}
            <tr>
              <th>{{ list_value_by_tag('site_name', idx) }}</th>
              <td><a id="adsbxstatlink{{suffix}}" href="">{{s}}ADSBx Anywhere Stats</a></td>
              <td><a id="adsbxmaplink{{suffix}}" href="">{{s}}ADSBx Anywhere Map</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-12 {% if not ns.alive %}d-none{% endif %}">
        <div class="lead">airplanes.live</div>
        <table class="table table-sm table-borderless lh-1 w-auto mt-0 mb-0 ms-2">
          <tbody>
            {% for idx in ns.site_indices %}
            {% if list_is_enabled("alive", idx) %}
            {% set suffix = '_'~idx %}
            <tr>
              <th>{{ list_value_by_tag('site_name', idx) }}</th>
              <td><a id="alivestatus{{suffix}}" href="https://airplanes.live/myfeed/">{{s}}Status</a></td>
              <td><a id="alivemaplink{{suffix}}" href="">{{s}}Map</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
       class="col-12 {% if not stage2_suggestion or env_value_by_tag('aggregator_choice') in ['micro', 'nano'] %} d-none {% endif %}">
    <br>
    Running the containers for the account-based aggregators on systems with 1GB of RAM or less can cause problems - it
    certainly is possible, but many users have observed random issues like MLAT errors or generally issues reliably
    connecting to those aggregators. A two stage setup which off-loads the connections to the aggregators to a different
    system might be a good idea.
  </div>
</div>
<script>
  let browser_ip = null;
  let feeder_ip = null;
  let ip_message = "";
  function compareIps() {
    if (feeder_ip == null || browser_ip == null) {
      return;
    }
    if (browser_ip != feeder_ip) {
      let new_ip_message = ["IP check: browser got", browser_ip, "feeder has", feeder_ip].join(" ");
      if (new_ip_message != ip_message) {
        ip_message = new_ip_message;
        console.log(ip_message);
      }
      $("#ip-mismatch").show()
    } else {
      $("#ip-mismatch").hide()
    }
  }
  let timersActive = false;
  let refreshDelay = 35 * 1000;
  let refreshTimer = null;
  let lastStartPage = 0;
  function startPageIndex(opt) {
    clearTimeout(refreshTimer); // abundance of caution to avoid multiple timers
    if (opt != "noModifyDelay") {
      refreshDelay = Math.min(300 * 1000, refreshDelay * 1.5);
    }
    let now = Date.now() / 1000;
    if (now - lastStartPage < 10) {
      return;
    }
    lastStartPage = now;
    verbose && console.log(new Date().toLocaleTimeString() + " refreshing status, next check in " + refreshDelay / 1000);
    refreshTimer = setTimeout(startPageIndex, refreshDelay);
    $("#last_status_update").html(new Date().toLocaleTimeString());

    if (!['micro', 'nano'].includes("{{ env_value_by_tags(['aggregator_choice']) }}")) {
      fetch("https://api.ipify.org?format=json", { signal: AbortSignal.timeout(15000) })
        .then(response => response.json())
        .then(data => {
          browser_ip = data["ip"];
          compareIps();
        });
      fetch("/api/ip_info", { signal: AbortSignal.timeout(15000) })
        .then(response => response.json())
        .then(data => {
          feeder_ip = data["feeder_ip"];
          compareIps();
        });
    } else {
      get_stage2_connection_status()
    }
    fetch("/api/status/im", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        $("#latest_tag").text(data["latest_tag"]);
        $("#version_update").text(data["latest_date"]);
        $("#advice").html(data["advice"] + "&nbsp;");
        if (data["show_update"] == "1") {
          $("#update_buttons").removeClass("text-secondary");
          const show_both = data["advice"] && data["advice"].startsWith("you are running a development version");
          if (show_both || data["beta_changelog"]) {
            $("#update_feeder_aps_beta").attr("disabled", false);
            $("#update_feeder_aps_beta").attr("title", data["beta_changelog"]);
            $("#advice").attr("title", data["beta_changelog"]);
          }
          if (show_both || data["main_changelog"]) {
            let message = data["main_changelog"];
            let set_disabled = false;
            if (!show_both && data["main_changelog"] == "this will get you back to the last release version") {
              message = "you can downgrade to the last release version on the System->Management page";
              set_disabled = true;
            }
            $("#update_feeder_aps_stable").attr("disabled", set_disabled);
            $("#update_feeder_aps_stable").attr("title", message);
            $("#latest_tag").attr("title", message);
          }
        } else {
          $("#update_buttons").addClass("text-secondary");
          $("#update_feeder_aps_beta").attr("disabled", true);
          $("#update_feeder_aps_stable").attr("disabled", true);
        }
      });
    {% for agg, name, m, s, table in aggregators %}
    // agg {{ agg }}
    {% for idx in ns.site_indices if matrix[idx] > 0 %}
    // idx {{ idx }}
    {% if list_is_enabled(agg, idx) %}
    reset_status("{{ agg }}", {{ idx }});
    {% endif %}
    {% endfor %}
    get_status("{{ agg }}");
    {% endfor %}
  }

  function reset_status(agg, idx) {
    $("#" + agg + "beast" + idx).text(".");
    $("#" + agg + "mlat" + idx).text(".");
    $("#" + agg + "span" + idx).attr("class", 'text-muted');
  }
  function get_status(agg) {
    fetch(`/api/status/${agg}`, { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(dict => {
        Object.keys(dict).forEach(idx => {
          const data = dict[idx];
          // now use the idx to do something clever about what is shown there...
          // right now this is broken and just overwrites things
          $("#" + agg + "beast" + idx).text(data["beast"]);
          $("#" + agg + "mlat" + idx).text(data["mlat"]);
          const mlat_broken = !(data["mlat"] == "+" || data["mlat"] == "." || data["mlat"] == " ")
          const beast_broken = !(data["beast"] == "+" || data["beast"] == "." || data["beast"] == " ")
          if (data["beast"] == "+" && !mlat_broken) {
            $("#" + agg + "span" + idx).attr("class", 'text-success')
          } else if (data["beast"] == "☒") {
            $("#" + agg + "span" + idx).attr("class", 'text-danger')
          } else if (beast_broken || mlat_broken) {
            $("#" + agg + "span" + idx).attr("class", 'text-warning')
          } else {
            $("#" + agg + "span" + idx).attr("class", 'text-muted')
          }
          if (agg == "adsblol") {
            // console.log("set adsblol-link" + idx + " to " + data["adsblollink"])
            $("#adsblol-link-" + idx).attr("href", data["adsblollink"])
          }
          if (agg == "alive") {
            $("#alivemaplink_" + idx).attr("href", data["alivemaplink"])
          }
          if (agg == "adsbx") {
            if (idx == 0) {
              $("#adsbxstatlink").attr("href", "https://www.adsbexchange.com/api/feeders/?feed=" + data["adsbxfeederid"])
              $("#adsbxmaplink").attr("href", "https://globe.adsbexchange.com/?feed=" + data["adsbxfeederid"])
            } else {
              // console.log("set adsbxstatlink" + idx)
              $("#adsbxstatlink_" + idx).attr("href", "https://www.adsbexchange.com/api/feeders/?feed=" + data["adsbxfeederid"])
              $("#adsbxmaplink_" + idx).attr("href", "https://globe.adsbexchange.com/?feed=" + data["adsbxfeederid"])
            }
          }
        });
      });
  }
  function get_stage2_connection_status() {
    fetch("/api/stage2_connection", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        $("#stage2_contact_placeholder").addClass("d-none");
        if (data["stage2_connected"] == "recent") {
          $("#stage2_address").text(data["address"]);
          $("#stage2_contact").removeClass("d-none");
        } else if (data["stage2_connected"] == "never") {
          $("#stage2_no_contact_found").removeClass("d-none");
        } else {
          $("#stage2_last_contact_ip").text(data["address"]);
          $("#stage2_last_contact_time_since").text(data["stage2_connected"]);
          $("#stage2_no_recent_contact").removeClass("d-none");
        }
      })
  }

  function handleVisibilityChange() {
    if (document.hidden && timersActive) {
      verbose && console.log(new Date().toLocaleTimeString() + " visibility change: stopping timers");
      clearTimeout(refreshTimer);
      clearTimeout(check_mf_timer);
      timersActive = false;
    }
    if (!document.hidden && !timersActive) {
      verbose && console.log(new Date().toLocaleTimeString() + " visibility change: starting timers");
      // start the micro feeder check
      check_mf_status();
      startPageIndex("noModifyDelay");
      timersActive = true;
    }
  }

  // Warn if the browser doesn't support addEventListener or the Page Visibility API
  if (typeof document.addEventListener === "undefined" || document.hidden === undefined) {
    console.error("hidden tab handler requires a browser that supports the Page Visibility API.");
  } else {
    document.addEventListener("visibilitychange", handleVisibilityChange, false);
  }

  handleVisibilityChange();
</script>
{% endblock %}
