{% extends 'base.html' %}
{% set active_page = "info" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} Support Info {% endblock %}</h1>
<p>Please cut and paste (or provide a screenshot of) this data when asking for help.</p>
<ul>
  <li><span style="display: inline-block; width: 6em;"><strong>Current:</strong></span>{{ current }}</li>
  <li><span style="display: inline-block; width: 6em;"><strong>Board:</strong></span>{{ board }}</li>
  <li>
    <span style="display: inline-block; width: 6em;"><strong>Base:</strong></span>{{ base }}
  </li>
  <li><strong>Containers:</strong>
    <ul>{% for container in containers %}<li>{{ container }}</li>{% endfor %}</ul>
  </li>
  <li><strong>SDR(s):</strong>
    <ul>{% for sdr in sdrs %}<li>
        <pre>{{ sdr }}</pre>
      </li>{% endfor %}</ul>
  </li>
  <li><strong>Ultrafeeder args:</strong><br />
    <pre>{{ ufargs }}</pre>
  </li>
  <li><strong>Env variables:</strong><br />
    <pre>{{ envvars }}</pre>
  </li>
  <li><strong>Memory:</strong><br />
    <pre>{{ memory }}</pre>
  </li>
  <li><strong>Storage:</strong><br />
    <pre>{{ storage }}</pre>
  </li>
</ul>
{% endblock %}
