{% extends 'base.html' %}
{% set active_page = "sdr_setup" %}
{% block content %}
<h1 class="mt-3 text-center text-danger">
  {% block title %}SDR Setup{% endblock %}
</h1>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
<form class="row gy-2 gx-3 align-items-center" method="post">
  <button type="submit" class="btn btn-primary btn-rounded  btn-block btn-lg p-4 mb-3" name="sdr_setup" value="go">
    apply settings - take me to the feeder homepage</button>
  <div class="col-12 {% if (env_value_by_tag('1090serial') == '' and not is_enabled('airspy')) %}d-none{% endif %}">
    <h5 class="mt-3">Set ADS-B SDR gain</h5>
    <div class="row">
      <label for="gain" class="col-12 col-sm-6">
        Normally the feeder will settle on a good gain value very quickly. If you want to override that "autogain"
        behavior, you can set an explicit gain value here.
      </label>
      <input class="col-6 col-sm-3 ms-3" id="gain" name="gain" type="text" style="height: 2rem;"
             pattern="(^auto.*|\d+(?:.\d+)?)" title="A number between 0 and 50 or starting with the word 'auto'"
             value="{{ env_value_by_tag('gain') }}" />
      <div class="col-12 form-check mt-3 ms-3{% if True %} d-none{% endif %}">
        <input class=" form-check-input me-1" type="checkbox" name="resetgain" id="resetgain" />
        <label for="resetgain" class="form-check-label">Check to reset autogain</label>
      </div>
    </div>
  </div>
  <div class="col-12 {% if env_value_by_tag('1090_2serial') == ''  %}d-none{% endif %}">
    <h5 class="mt-3">Set 1090_2 SDR gain</h5>
    <div class="row">
      <label for="gain_2" class="col-12 col-sm-6">
        Normally the feeder will settle on a good gain value very quickly. If you want to override that "autogain"
        behavior, you can set an explicit gain value here.
      </label>
      <input class="col-6 col-sm-3 ms-3" id="gain_2" name="gain_2" type="text" style="height: 2rem;"
             pattern="(^auto.*|\d+(?:.\d+)?)" title="A number between 0 and 50 or starting with the word 'auto'"
             value="{{ env_value_by_tag('gain_2') }}" />
    </div>
  </div>
  <div class="col-12 {% if not is_enabled('uat978') %}d-none{% endif %}">
    <h5 class="mt-3">Set UAT SDR gain</h5>
    <div class="row">
      <label for="uatgain" class="col-12 col-sm-6">
        Normally the feeder will settle on a good gain value over time - however, the "autogain" algorithm for UAT is
        slower and not as reliable as for ADS-B. If you want to override that "autogain" behavior, you can set an
        explicit gain value here.
      </label>
      <input class="col-6 col-sm-3 ms-3" id="uatgain" name="uatgain" type="text" style="height: 2rem;"
             pattern="(?:autogain|\d+(?:.\d+)?)" title="A number between 0 and 50 or the word 'autogain'"
             value="{{ env_value_by_tag('uatgain') }}" />
      <div class="col-12 form-check mt-3 ms-3{% if env_value_by_tag('uatgain') != 'autogain' %} d-none{% endif %}">
        <input class=" form-check-input me-1" type="checkbox" name="resetuatgain" id="resetuatgain" />
        <label for="resetuatgain" class="form-check-label">Check to reset UAT autogain</label>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12 form-check mt-3 ms-3" id="1090biast"
           {% if not env_value_by_tag('1090serial') and not is_enabled('airspy') %}style="display: none;" {% endif %}>
        <input class="form-check-input me-1" type="checkbox" name="biast--is_enabled" id="biast--is_enabled"
               {% if is_enabled("biast") %}checked{% endif %} />
        <label for="biast--is_enabled" class="form-check-label">Enable bias-T for ADS-B/1090/airspy SDR.</label>
      </div>
      <div class="col-12 form-check mt-3 ms-3" id="1090biast_2"
           {% if not env_value_by_tag('1090_2serial') %}style="display: none;" {% endif %}>
        <input class="form-check-input me-1" type="checkbox" name="biast_2--is_enabled" id="biast_2--is_enabled"
               {% if is_enabled("biast_2") %}checked{% endif %} />
        <label for="biast_2--is_enabled" class="form-check-label">Enable bias-T for 1090_2</label>
      </div>
      <div class="col-12 form-check mt-3 ms-3" {% if not is_enabled('uat978') %}style="display: none;" {% endif %}>
        <input class="form-check-input me-1" type="checkbox" name="uatbiast--is_enabled" id="uatbiast--is_enabled"
               {% if is_enabled("uatbiast") %}checked{% endif %} />
        <label for="uatbiast--is_enabled">Enable bias-T for UAT978 SDR.</label>
      </div>
    </div>
    <div class="row" id="multipleSdrs">
      <div class="col-sm-12 mt-5 mb-3 text-danger" style="display: none;" id="duptext">
        There are multiple SDRs with serial number <span id="duplicates"></span>. This will not work correctly. Please
        ensure that all SDRs have distinct serial numbers.
      </div>
      <div class="col-sm-12 mt-5 mb-3" style="display: block;" id="noduptext">
        In most cases the assignment below is correct. If it isn't, please update.
      </div>
      <div class="col-sm-3 no-gutters">
        <button class="btn btn-secondary btn-rounded" type="button" name="update_sdr_info" onclick="sdr_info()">Check
          SDRs</button>
      </div>
    </div>
    <div class="row gx-0">
      <div class=".g-0">
        <div class="row gx-0">
          <p class="col-2 bg-info mr-2">SDR #</p>
          <p class="col-2 bg-info mr-2">Type</p>
          <p class="col-3 bg-info mr-2">Serial</p>
          <p class="col-5 bg-info mr-2">Used for</p>
        </div>
        {% for sdr in [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15" ] %}
        <div class="row" id="sdr{{ sdr }}" style="display: none">
          <p class="col-2" id="sdr{{ sdr }}-tag">SDR {{ sdr }}</p>
          <p class="col-2" id="sdr{{ sdr }}-type"></p>
          <p class="col-3 text-break" id="sdr{{ sdr }}-serial"></p>
          <p class="col-5 small" id="sdr{{ sdr }}-purpose">
            <label class="checkbox-inline mr-2">
              <input type="radio" id="1090-{{ sdr }}" name="1090serial" value="">
              1090
            </label>
            <label class="checkbox-inline mr-2">
              <input type="radio" id="1090_2-{{ sdr }}" name="1090_2serial" value="">
              1090_2
            </label>
            <label class="checkbox-inline mr-2">
              <input type="radio" id="978-{{ sdr }}" name="978serial" value="">
              978
            </label>
            <label class="checkbox-inline mr-2">
              <input type="radio" id="acars-{{ sdr }}" name="acarsserial" value="">
              ACARS
            </label>
            <label class="checkbox-inline mr-2">
              <input type="radio" id="acars2-{{ sdr }}" name="acars2serial" value="">
              ACARS2
            </label>
            <label class="checkbox-inline mr-2">
              <input type="radio" id="vdl2-{{ sdr }}" name="vdl2serial" value="">
              VDL Mode 2
            </label>
            <label class="checkbox-inline mr-2">
              <input type="radio" id="other-{{ sdr }}" name="other-{{ sdr }}" value="" checked>
              Other
            </label>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <button class="btn btn-secondary btn-rounded" type="button" data-mdb-toggle="collapse" data-mdb-target="#showlsusb"
            aria-expanded="false" aria-controls="showlsusb">toggle lsusb output</button>
    <div class="fw-light collapse" id="showlsusb">
      <h5 class="mt-3">lsusb output</h5>
      <div class="row">
        <pre class="col-12 smal" id="lsusb_text"></pre>
      </div>
    </div>
  </div>
  <div class="col-12 gy-2 gx-3 align-items-center" id="noSdrs" style="display: none;">
    No SDRs found. If you have SDRs attached to the computer this software is running on, then a reboot may be
    required before the web UI can see the SDRs.
  </div>
  <div class="col-12 gy-2 gx-3 align-items-center form-group" id="remote_sdr"
       {% if is_enabled('stage2') or env_value_by_tag('1090serial') != '' or is_enabled('airspy') %}style="display: none;"
       {% endif %}>
    <label class="form-label" for="remote_sdr">
      If you are intending to use this feeder with a remote device that has the SDR connected to it and offers
      <code>beast_out</code> (like the micro
      feeder setup that this image supports), please enter the IPv4 address here (and the port used if it's not
      30005):</label>
    <input type="text" id="remote_sdr" name="remote_sdr" class="form-control mb-2"
           pattern="^\s*(?:\d{1,3}\.){3}\d{1,3}(?:,\s*\d+)?\s*$" title="IPv4 address and port, separated by a comma"
           placeholder="IP-address[,port]" value="{{ env_value_by_tag("remote_sdr") }}" />
  </div>
  <button type="submit" class="btn btn-primary btn-rounded  btn-block btn-lg p-4 mb-3 mt-3" name="sdr_setup"
          value="go">apply settings - take me to the feeder homepage</button>
</form>
<script>

  function sdr_info() {
    fetch("/api/sdr_info", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        let num = data['sdrdevices'].length;
        console.log("num sdrs: " + num);
        if (num == 0) {
          document.getElementById('multipleSdrs').style.display = 'none';
          document.getElementById('noSdrs').style.display = 'block';
          document.getElementById('1090biast').style.display = 'none';
        }
        document.getElementById("lsusb_text").innerHTML = data.lsusb_output;
        let sdrs = data['sdrdevices'];
        let use = data['frequencies'];
        let consumers = ["1090", "978", "other" {% if is_enabled('stage2') %}, "1090_2"{% endif %}, "acars", "acars2", "vdl2"];
        for (let i = 0; i < num; i++) {
          let id = 'sdr' + i;
          let serial = sdrs[i]['serial'];
          let type = sdrs[i]['type'];
          document.getElementById(id).style.display = 'flex';
          document.getElementById(id + "-serial").innerHTML = serial;
          document.getElementById(id + "-type").innerHTML = type;
          let used = false;
          for (const c of consumers) {
            document.getElementById(c + '-' + i).value = serial;
            document.getElementById(c + '-' + i).checked = (use[c] == serial);
            used |= (use[c] == serial)
          }
          // if not explicitely used, check box for other
          if (!used) {
            document.getElementById('other' + '-' + i).checked = true;
          }
          // don't show the 978 checkbox for non-rtlsdr SDRs as they can't be used for 978
          document.getElementById("978-" + i).parentNode.style.display = (type != "rtlsdr") ? "none" : "";
          // don't show the 1090_2 checkbox for non-rtlsdr, it's not supported due to the annoyance
          // of having to implement more containers
          let hide2 = (type != "rtlsdr");
          // always hide it if this is not a stage2 install
          {% if not is_enabled('stage2') %}
          hide2 = true;
          {% endif %}
          document.getElementById("1090_2-" + i).parentNode.style.display = hide2 ? "none" : "";
          // don't show ACARS or VDL Mode 2 if they aren't enabled
          let hide_acars = {% if is_enabled('acarsdec') %} false; {% else %} true; {% endif %}
          let hide_acars2 = {% if is_enabled('acarsdec2') %}false; {% else %} true; {% endif %}
          let hide_vdl2 = {% if is_enabled('dumpvdl2') %}false;{% else %}true;{% endif %}
          if (type == "airspy") {
            hide_vdl2 = true;
          }
          document.getElementById("acars-" + i).parentNode.style.display = hide_acars ? "none" : "";
          document.getElementById("acars2-" + i).parentNode.style.display = hide_acars2 ? "none" : "";
          document.getElementById("vdl2-" + i).parentNode.style.display = hide_vdl2 ? "none" : "";
        }
        for (let i = num; i < 16; i++) {
          let id = 'sdr' + i;
          document.getElementById(id).style.display = 'none';
        }
        if (data['duplicates'] != '') {
          document.getElementById('duplicates').innerText = data['duplicates'];
          document.getElementById("duptext").style.display = 'block';
          document.getElementById("noduptext").style.display = 'none';
        } else {
          document.getElementById("duptext").style.display = 'none';
          document.getElementById("noduptext").style.display = 'block';
        }

        $("input[type=radio]").click(function () {
          myid = this.id;
          let components = myid.split("-");
          console.log("components: " + components + " consumers: " + consumers);
          for (const usage of consumers) {
            otherid = usage + "-" + components[1];
            if (otherid != myid) {
              document.getElementById(otherid).checked = false;
            }
          }
        });
      });
  }

  sdr_info();
</script>
{% endblock %}
