{% extends 'base.html' %}
{% set active_page = "sdr_setup" %}
{% block content %}
<h1 class="mt-3 text-center text-danger">
  {% block title %}SDR Setup{% endblock %}
</h1>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
<form class="row gy-2 gx-3 align-items-center" method="post">
  <button type="submit" class="btn btn-primary btn-rounded  btn-block btn-lg p-4 mb-3" name="sdr_setup" value="go">
    apply settings - take me to the feeder homepage</button>

  <div class="col-12">
    <div class="row" id="multipleSdrs">
      <div class="col-sm-12 mt-5 mb-3 text-danger" style="display: none;" id="duptext">
        There are multiple SDRs with serial number <span id="duplicates"></span>. This will not work correctly. Please
        ensure that all SDRs have distinct serial numbers.
      </div>
      <div class="col-sm-12 mt-5 mb-3" style="display: block;" id="noduptext">
        In most cases the assignment below is correct. If it isn't, please update.
      </div>
      <div class="col-sm-3 mb-2">
        <button class="btn btn-secondary btn-rounded" type="button" name="update_sdr_info" onclick="sdr_info()">Check
          SDRs</button>
      </div>
    </div>
    <div class="row gx-0">
      <div class=".g-0">
        <div class="row gx-0">
          <p class="col-2 bg-info mr-2">SDR #</p>
          <p class="col-2 bg-info mr-2">Type</p>
          <p class="col-2 bg-info mr-2">Serial</p>
          <p class="col-2 bg-info mr-2">Gain</p>
          <p class="col-2 bg-info mr-2">bias-T</p>
          <p class="col-2 bg-info mr-2">Used for</p>
        </div>
        {% for sdr in [ "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15" ] %}
        <div class="row" id="sdr{{ sdr }}" style="display: none">
          <p class="col-2" onclick="sdr_setup({{ sdr }})"><button type="button" class="btn btn-light" data-mdb-ripple-init data-mdb-ripple-color="dark">SDR {{ sdr }}</button></p>
          <p class="col-2" id="sdr{{ sdr }}-type"></p>
          <p class="col-2 text-break" id="sdr{{ sdr }}-serial" onclick="sdr_setup({{ sdr }})"></p>
          <p class="col-2" id="sdr{{ sdr }}-gain"></p>
          <p class="col-2" id="sdr{{ sdr }}-biastee"></p>
          <p class="col-2" id="sdr{{ sdr }}-purpose">
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <button class="btn btn-secondary btn-rounded" type="button" data-mdb-toggle="collapse" data-mdb-target="#showlsusb"
            aria-expanded="false" aria-controls="showlsusb">toggle lsusb output</button>
    <div class="fw-light collapse" id="showlsusb">
      <h5 class="mt-3">lsusb output</h5>
      <div class="row">
        <pre class="col-12 smal" id="lsusb_text"></pre>
      </div>
    </div>
  </div>
  <div class="col-12 gy-2 gx-3 align-items-center" id="noSdrs" style="display: none;">
    No SDRs found. If you have SDRs attached to the computer this software is running on, then a reboot may be
    required before the web UI can see the SDRs.
  </div>
  <div class="col-12 gy-2 gx-3 align-items-center form-group" id="remote_sdr"
       {% if is_enabled('stage2') or env_value_by_tag('1090serial') != '' or is_enabled('airspy') %}style="display: none;"
       {% endif %}>
    <label class="form-label" for="remote_sdr">
      If you are intending to use this feeder with a remote device that has the SDR connected to it and offers
      <code>beast_out</code> (like the micro
      feeder setup that this image supports), please enter the IPv4 address here (and the port used if it's not
      30005):</label>
    <input type="text" id="remote_sdr" name="remote_sdr" class="form-control mb-2"
           pattern="^\s*(?:\d{1,3}\.){3}\d{1,3}(?:,\s*\d+)?\s*$" title="IPv4 address and port, separated by a comma"
           placeholder="IP-address[,port]" value="{{ env_value_by_tag("remote_sdr") }}" />
  </div>
  <button type="submit" class="btn btn-primary btn-rounded  btn-block btn-lg p-4 mb-3 mt-3" name="sdr_setup"
          value="go">apply settings - take me to the feeder homepage</button>
</form>

<!-- Modal -->
<div class="modal fade" id="sdrsetup_dialog" tabindex="-1" aria-labelledby="sdrsetup_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sdrsetup_label">Set up SDR #<span id="sdr_num"></span> serial <span id="sdr_serial"></span></h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 d-flex">
            <label class="flex-grow-1">Used for</label>
            <label class="mx-1"><input id="usage1090" type="radio" name="usage" value="1090"> 1090</label>
            {% if is_enabled('stage2') %}<label class="mx-1"><input id="usage1090_2" type="radio" name="usage" value="1090_2"> 1090_2</label>{% endif %}
            <label class="mx-1"><input id="usage978" type="radio" name="usage" value="978"> 978</label>
            {% if is_enabled('acarsdec') %}<label class="mx-1"><input id="usageacars" type="radio" name="usage" value="acars"> ACARS</label>{% endif %}
            {% if is_enabled('dumpvdl2') %}<label class="mx-1"><input id="usagevdl2" type="radio" name="usage" value="vdl2"> VDL Mode 2</label>{% endif %}
            {% if is_enabled('dumphfdl') %}<label class="mx-1"><input id="usagehfdl" type="radio" name="usage" value="hfdl"> HFDL</label>{% endif %}
            {% if is_enabled('shipfeeder') %}<label class="mx-1"><input id="usageais" type="radio" name="usage" value="ais"> AIS</label>{% endif %}
            {% if is_enabled('sonde') %}<label class="mx-1"><input id="usagesonde" type="radio" name="usage" value="sonde"> Sonde</label>{% endif %}
            <label class="mx-1"><input id="usageother" type="radio" name="usage" value="other"> Other</label>
          </div>
          <label class="col-12 mt-2">Gain</label>
          <label for="1090gain" class="col-12 col-sm-9">
            Possible values depend on the SDR type. For the most common RTL SDR dongle,
            enter a value between 0 and 50 or "auto".
            For other SDRs, please check the documentation.
          </label>
          <input class="col-10 col-sm-2 ms-3" id="sdrgain" name="1090gain" type="text" style="height: 2rem;" value="" />
          <div class="col-12 form-check mt-3 ms-3">
            <input class="form-check-input me-1" type="checkbox" name="enable_biastee" id="enable_biastee" />
            <label for="enable_biastee" class="form-check-label">Enable biastee (if supported)</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-mdb-ripple-init onclick="save_sdr_setup()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
  let sdrs = [];
  let sdr_setup_dialog = $("#sdrsetup_dialog");
  let modal = new mdb.Modal(sdr_setup_dialog)

  function sdr_info() {
    fetch("/api/sdr_info", { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        let num = data['sdrdevices'].length;
        console.log("num sdrs: " + num);
        if (num == 0) {
          document.getElementById('multipleSdrs').style.display = 'none';
          document.getElementById('noSdrs').style.display = 'block';
        }
        document.getElementById("lsusb_text").innerHTML = data.lsusb_output;
        sdrs = data['sdrdevices'];
        console.log("Got the following SDRs from the API: " + JSON.stringify(sdrs));
        let use = data['frequencies'];
        let consumers = ["1090", "978", "other" {% if is_enabled('stage2') %}, "1090_2"{% endif %}, "acars", "acars2", "vdl2", "hfdl", "ais", "sonde"];
        for (let i = 0; i < num; i++) {
          let id = '#sdr' + i;
          $(id).css({ 'display': 'flex' });
          $(id + "-serial").html(sdrs[i]['serial']);
          $(id + "-type").html(sdrs[i]['type']);
          $(id + "-gain").html(sdrs[i]['1090gain']);
          if (sdrs[i]['biastee']) {
            $(id + "-biastee").html("\u2713");
          } else {
            $(id + "-biastee").html("");
          }
          $(id + "-purpose").html(sdrs[i]['purpose']);
        }
        for (let i = num; i < 16; i++) {
          let id = 'sdr' + i;
          document.getElementById(id).style.display = 'none';
        }
        if (data['duplicates'] != '') {
          document.getElementById('duplicates').innerText = data['duplicates'];
          document.getElementById("duptext").style.display = 'block';
          document.getElementById("noduptext").style.display = 'none';
        } else {
          document.getElementById("duptext").style.display = 'none';
          document.getElementById("noduptext").style.display = 'block';
        }
      });
  }

  sdr_info();

  function sdr_setup(sdr) {
    $(document).ready(function() {
      let sdrnum = $("#sdr_num");
      let sdrserial = $("#sdr_serial");
      sdrnum.text(sdr);
      sdrserial.text(sdrs[sdr]['serial']);
      let sdrgain = $("#sdrgain");
      sdrgain.val(sdrs[sdr]['1090gain']);
      if (sdrs[sdr]['type'] != "rtlsdr") {
        usage978 = $("#usage978");
        usage978.style.display = "none";
      }
      let usage = "#usage" + sdrs[sdr]['purpose'];
      $(usage).prop('checked', true);
      modal.show();
    });
  }
  function save_sdr_setup() {
    let sdr = $("#sdr_num").text();
    let gain = $("#sdrgain").val();
    let biastee = $("#enable_biastee").is(":checked");
    sdrs[sdr]['1090gain'] = gain;
    sdrs[sdr]['biastee'] = biastee;
    sdrs[sdr]['purpose'] = $('input[name="usage"]:checked').val();
    console.log("save_sdr_setup: " + JSON.stringify(sdrs[sdr]));
    modal.hide();
    let id = '#sdr' + sdr;
    $(id + "-gain").html(gain);
    if (biastee) {
      $(id + "-biastee").html("\u2713");
    } else {
      $(id + "-biastee").html("");
    }
    $(id + "-purpose").html(sdrs[sdr]['purpose']);
    fetch('/api/sdr_config', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(sdrs[sdr])
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
  }
</script>
{% endblock %}
