{% extends 'base.html' %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} SDRplay required software license {% endblock %}</h1>
<p> Support for SDRplay SDRs requires the use of the SDRPlay API V3. YOU MAY ONLY USE THIS FEATURE IN COMPLIANCE WITH
  THE <a href="https://sdr-e.com/docker-sdrplay-beast1090/blob/main/LICENSE-SDRplay" target="_blank">LICENSE FOR SDRPlay
    API V3</a>. In order to be able to use this SDR with this feeder image you must indicate that you have reviewed and
  accept <a href="https://sdr-e.com/docker-sdrplay-beast1090/blob/main/LICENSE-SDRplay" target="_blank">this
    license</a>.</p>
<form method="post">
  <button type="submit" class="btn btn-primary btn-rounded  btn-block btn-lg p-4 mb-3" name="sdrplay_license_accept"
          value="go">I have reviewed and ACCEPT the license</button>
  <button type="submit" class="btn btn-primary btn-rounded  btn-block btn-lg p-4 mb-3" name="sdrplay_license_reject"
          value="go">I do NOT ACCEPT the license</button>
</form>
{% endblock %}
