{% extends 'base.html' %}
{% set active_page = "stage2" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} Setup stage 2 feeder {{ list_value_by_tag('site_name', 0) }}
  {% endblock %}</h1>
<div class="alert alert-danger" role="alert" {% if env_value_by_tag('dns_state') %} style="display: none;" {% endif %}>
  The feeder cannot resolve DNS queries. This will most likely prevent it from working at all.
</div>
<div class="row">
  <form method="post">
    <div class="form-group row align-items-center mb-1">
      <span class="col-md">
        <label for="site_name">Station Name</label>
      </span>
      <span class="col-md">
        <input type="text" id="site_name" name="site_name" required placeholder="my-awesome-antenna"
               class="form-control" pattern="[\-_.a-zA-Z0-9 ]+" title="Letters, numbers, -, _, ."
               value="{{ list_value_by_tag('site_name', 0) }}" />
      </span>
    </div>
    <div class="form-group row align-items-center mb-1">
      <span class="col-md">
        <label for="lat">Latitude (-90 .. +90 -- please use 5 decimals, e.g. 45.12345)</label>
      </span>
      <span class="col-md">
        <input type="text" id="lat" name="lat" required placeholder="Antenna latitude" class="form-control"
               pattern="(?:\+|-|)(?:(?:[0-8]?\d)(?:\.\d+)?|90(?:\.0+)?)(,(?:\+|-|)(:?(:?\d?\d|1[0-7]\d)(?:\.\d+)?|180(?:\.0+)?))?"
               title="Number between -90 and 90" value="{{ list_value_by_tag('lat', 0) }}" />
      </span>
    </div>
    <div class="form-group row align-items-center mb-1">
      <span class="col-md">
        <label for="lon">Longitude (-180 .. +180 -- please use 5 decimals , e.g. -122.12345)</label>
      </span>
      <span class="col-md">
        <input type="text" id="lon" name="lon" required placeholder="Antenna longitude" class="form-control"
               pattern="(?:\+|-|)(:?(:?\d?\d|1[0-7]\d)(?:\.\d+)?|180(?:\.0+)?)" title="Number between -180 and 180"
               value="{{ list_value_by_tag('lon', 0) }}" />
      </span>
    </div>
    <div class="form-group row align-items-center mb-1">
      <span class="col-md">
        <label for="tz">Timezone</label>
        <button class="pb-1 btn btn-secondary"
                onclick="updateTimezone(); return false; // return false inhibits the form to be submitted">update
          timezone</button>
      </span>
      <span class="col-md">
        <input type="text" name="tz" id="tz" required
               placeholder="populate from the browser timezone by clicking the 'update timezone' button"
               class="form-control mt-2" value="{{ list_value_by_tag('tz', 0) }}" />
      </span>
    </div>
    <div class="form-group">
      <button type="submit" name="set_stage2_data" value="go" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>
<div class="col-12">
  <h4 class="mb-2 mt-4">Feeder sites</h4>
  {% if env_value_by_tag('num_micro_sites') == 0 %}
  <div class="my-4">No micro feeder sites configured</div>
  {% else %}
  <form method="post" action="{{ url_for('update') }}">
    <div class="row small">
      <div class="col-12">
        <table class="table table-bordered table-sm lh-1 table-striped">
          <thead>
            <td>#</td>
            <td>Site</td>
            <td class="text-center">IP</td>
            <td class="text-center d-none d-md-table-cell">Lat/Long@Alt</td>
            <td class="text-center d-none d-md-table-cell">Feeder Version</td>
            <td class="text-center">Status / Stats</td>
            <td class="text-center">UAT</td>
            <td class="text-center small" title="Bandwidth Reduce">BWR</td>
            <td class="text-center">Action</td>
          </thead>
          <tbody>
            {% for site in env_value_by_tag('site_name') %}
            {% if loop.index0 != 0 %}<!-- skip the entry for the host -->
            {% if loop.index0 == edit_index %}<!-- edit mode -->
            <tr class="align-middle">
              <td>
                <input type="text" name="site_order_{{ loop.index0 }}" id="site_order_idx"
                       value="{{ loop.index0 }}" patter="[0-9]+"
                       title="Row number" class="form-control-sm accept_edit" onfocusout=""/>
              </td>
              <td>
                <input type="text" name="site_name_{{ loop.index0 }}" value="{{ site }}" pattern="[\-_.a-zA-Z0-9 ]+"
                       title="Letters, numbers, -, _, ." class="form-control-sm accept_edit" />
              </td>
              <td class="text-center">
                <input type="text" name="mf_ip_{{ loop.index0 }}" class="form-control-sm accept_edit"
                       value="{{ list_value_by_tag('mf_ip', loop.index0).replace(',30006,beast_in', '') }}" />
              </td>
              <td class="text-center d-none d-md-table-cell">{{ list_value_by_tag('lat', loop.index0) }} /
                {{ list_value_by_tag('lon', loop.index0) }} / {{ list_value_by_tag('alt', loop.index0) }}m
              </td>
              <td class="text-center d-none d-md-table-cell">
                {{ list_value_by_tag('mf_version', loop.index0).split('(')[0] }}
              </td>
              <td class="text-center"><span id="mf_status_{{ loop.index0 }}" class="small"></span><br/><span id="mf_stats_{{ loop.index0 }}" class="small"></span></td>

              <td class="text-center"><input type="checkbox" class="form-check-input" name="mf_uat_{{ loop.index0 }}"
                       id="mf_uat_{{ loop.index0 }}" {% if list_is_enabled('uat978', loop.index0) %}checked="checked"
                       {% endif %} /></td>
              <td class="text-center"><input type="checkbox" class="form-check-input" name="mf_brofm_{{ loop.index0 }}"
                       id="mf_brofm_{{ loop.index0 }}"
                       {% if list_is_enabled('mf_brofm', loop.index0) %}checked="checked" {% endif %} /></td>
              <td class="text-center">
                <button type="submit" name="save_edit_micro_{{ loop.index0 }}" value="go" title="Save changes"
                        id="save_edit" class="btn btn-danger btn-floating btn-sm"
                        onclick="show_spinner(); return true;">&#x2714;</button>
                <button type="submit" name="cancel_edit_micro_{{ loop.index0 }}" value="go" title="Cancel"
                        class="btn btn-info btn-floating btn-sm">&#x2716;</button>
              </td>
            </tr>
            {% else %}
            <tr class="align-middle">
              <td><span id="site_order_{{ loop.index0 }}" class="small">{{ loop.index0 }}</span></td>
              <td>
                <a href="/map_{{loop.index0}}/" class="small">{{ site }}</a>
              </td>
              <td class="text-center small">
                <a id="table_mf_ip_{{ loop.index0 }}"
                   href="http://{{ list_value_by_tag('mf_ip', loop.index0).split(',')[0] }}">{{ list_value_by_tag('mf_ip', loop.index0).replace(',30006,beast_in', '') }}</a>
              </td>
              <td class="text-center d-none d-md-table-cell small" id="table_mf_lla_{{ loop.index0 }}">
                {{ list_value_by_tag('lat', loop.index0) }} /
                {{ list_value_by_tag('lon', loop.index0) }} @ {{ list_value_by_tag('alt', loop.index0) }}m
              </td>
              <td class="text-center d-none d-md-table-cell small" id="table_mf_version_{{ loop.index0 }}">
                {{ list_value_by_tag('mf_version', loop.index0).split('(')[0]}}
              </td>
              <td class="text-center"><a href="/stats_{{loop.index0}}/"><span id="mf_status_{{ loop.index0 }}" class="small"></span><br/><span id="mf_stats_{{ loop.index0 }}" class="small"></span></a></td>
              <td class="text-center"><span
                      id="table_mf_uat_{{ loop.index0 }}">{% if list_is_enabled('uat978', loop.index0) %}&#10003;{% endif %}</span>
              </td>
              <td class="text-center"><span
                      id="table_mf_brofm_{{ loop.index0 }}">{% if list_is_enabled('mf_brofm', loop.index0) %}&#10003;
                  {% endif %}</span>
              </td>

              <td class="text-center">
                <button type="submit" name="remove_micro_{{ loop.index0 }}" value="go" title="Remove this micro feeder"
                        class="btn btn-danger btn-floating btn-sm"
                        onclick="show_spinner(); return true;">&#x232B;</button>
                <button type="submit" name="edit_micro_{{ loop.index0 }}" value="go" title="Edit this micro feeder"
                        class="btn btn-info btn-floating btn-sm">&#x270e;</button>
              </td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </form>
  {% endif %}
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="col-12">
    <h5 class="mb-2">Add micro feeder</h5>
    <div>To add a micro feeder enter the IP address and click the Check Micro Feeder button - this will ensure the IP
      address is reachable and check whether this is an ADSB.im feeder (which significantly improves the amount of data
      that can be imported to simplify setup).</div>
    <div class="small">Note that all site names need to be unique. The code will ensure this by adding '_' to duplicate
      names.</div>
    <form method="post" action="{{ url_for('update') }}" onsubmit="show_spinner(); return true;">
      <div class="form-group row align-items-center mb-1">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3">
          <label for="add_micro_feeder_ip">micro feeder IP address</label>
        </div>
        <div class="col-12 col-sm-7 col-md-8 col-lg-9 mb-3">
          <input type="text" id="add_micro_feeder_ip" name="add_micro_feeder_ip" required placeholder="1.2.3.4"
                 class="form-control" title="valid IPv4 address" />
        </div>
        <div id="mf_step1" class="col-12">
          <button type="button" class="btn btn-primary" onclick="check_micro_feeder();">Check micro feeder</button>
        </div>
        <div class="col-3 mt-2">
          <div class="row">
            <div class="col-12 font-weight-bold text-danger mb-5 ms-2" id="add_micro_feeder_name"></div>
          </div>
          <div id="uat_div" class="row small align-items-center d-none">
            <div class="col-1">
              <input type="checkbox" class="form-check-input" name="micro_uat" id="micro_uat" />
            </div>
            <div class="col-10">
              <label for="micro_uat">also receive UAT data on port 30978</label>
            </div>
          </div>
          <div id="beast_reduce" class="row small align-items-center d-none">
            <div class="col-1">
              <input type="checkbox" class="form-check-input" name="micro_reduce" id="micro_reduce" checked />
            </div>
            <div class="col-10">
              <label for="micro_reduce">drop some redundant messages to save bandwidth</label>
            </div>
          </div>
        </div>
        <div id="mf_step2" class="d-none col-9">
          <div class="row gy-2">
            <div id="mf_step2_import" class="col-3 d-none">
              <button type="submit" name="import_micro" value="go" class="btn btn-primary">Import Settings</button>
            </div>
            <div id="mf_step2_import_text" class="col-9 d-none">Import settings for data sharing and some other
              options from the micro feeder.</div>
            <div id="mf_step2_full" class="col-3 d-none">
              <button type="submit" name="import_micro_full" value="go" class="btn btn-primary">Full Import</button>
            </div>
            <div id="mf_step2_full_text" class="col-9 d-none">Import settings for data sharing and some other options
              as well as historical data and graphs from the micro feeder. Depending on connection speed and amount of
              historical data, this can take a significant amount of time during which this web UI will be unresponsive.
              Also, note that this will fail if you switch from 32 to 64bit architecture, i.e., you cannot use this
              when the microfeeder is arm32 but your stage 2 is arm64 or AMD64.</div>
            <div class="col-3">
              <button type="submit" name="add_micro" value="go" class="btn btn-primary">Manual</button>
            </div>
            <div class="col-9">You will need to manually create settings for data sharing.</div>
          </div>
        </div>
        <div id="mf_step3" class="col-9 d-none">
          As long as the feeder exposes port 30005 with Beast-Out at this IP address, you should be able to connect to
          it and use this system as stage 2 - a number of more advanced features will be missing.
          <div class="form-group row align-items-center mb-1">
            <span class="col-md">
              <label for="micro_site_name">Micro feeder name (shows up on public maps if enabled later)</label>
            </span>
            <span class="col-md">
              <input type="text" id="micro_site_name" name="micro_site_name" placeholder="my-awesome-antenna"
                     class="form-control" pattern="[\-_.a-zA-Z0-9 ]+" title="Letters, numbers, -, _, ." value="" />
            </span>
          </div>
          <div class="form-group row align-items-center mb-1">
            <span class="col-md">
              <label for="micro_lat">Latitude (-90 .. +90 -- please use 5 decimals, e.g. 45.12345)</label>
            </span>
            <span class="col-md">
              <input type="text" id="micro_lat" name="micro_lat" placeholder="Antenna latitude" class="form-control"
                     pattern="(?:\+|-|)(?:(?:[0-8]?\d)(?:\.\d+)?|90(?:\.0+)?)(,(?:\+|-|)(:?(:?\d?\d|1[0-7]\d)(?:\.\d+)?|180(?:\.0+)?))?"
                     title="Number between -90 and 90" value="" />
            </span>
          </div>
          <div class="form-group row align-items-center mb-1">
            <span class="col-md">
              <label for="micro_lon">Longitude (-180 .. +180 -- please use 5 decimals , e.g. -122.12345)</label>
            </span>
            <span class="col-md">
              <input type="text" id="micro_lon" name="micro_lon" placeholder="Antenna longitude" class="form-control"
                     pattern="(?:\+|-|)(:?(:?\d?\d|1[0-7]\d)(?:\.\d+)?|180(?:\.0+)?)"
                     title="Number between -180 and 180" value="" />
            </span>
          </div>
          <div class="form-group row align-items-center mb-1">
            <span class="col-md">
              <label for="micro_alt">Altitude above mean sealevel, rounded to whole meters</label>
            </span>
            <span class="col-md">
              <input type="text" id="micro_alt" name="micro_alt" placeholder="Antenna MSL altitude (in m)"
                     class="form-control" pattern="(?:\+|-|)\d+" value="" />
            </span>
          </div>
          <button type="submit" name="add_other" value="go" class="btn btn-primary">Attach this feeder</button>
        </div>
      </div>
    </form>
    <form method="post" action="{{ url_for('update') }}">
      <div class="form-group mt-3">
        <label>
          Which
          <a href="#"
             title="aggregators that don't require you to create an account or provide an email address">account-less
          </a>
          aggregators do you want to feed?
        </label>
        <br />
        <div>
          <input type="radio" name="aggregator_choice" id="all" value="all" required {% if env_value_by_tag("aggregator_choice")=="all"
      %} checked {% endif %}>
          <label class="form-check-label mr-3" for="all">All</label>
          <input type="radio" name="aggregator_choice" id="privacy" value="privacy" {% if
      env_value_by_tag("aggregator_choice")=="privacy" %} checked {% endif %}>
          <label class="form-check-label mr-3" for="privacy">Aggregators with privacy policy</label>
          <input type="radio" name="aggregator_choice" id="individual" value="individual" {% if
      env_value_by_tag("aggregator_choice")=="individual" %} checked {% endif %}>
          <label class="form-check-label" for="individual">Pick individually</label>
        </div>
        <div id="explain-all" style="display: {% if env_value_by_tag('aggregator_choice')=='all' %} block {% else %} none {%
            endif %}; font-size: smaller;">
          With this option you will feed data to
          <a href="https://adsb.lol/privacy-license/">adsb.lol</a>,
          <a href="https://flyitalyadsb.com/informazioni-legali-e-privacy/">Fly Italy ADSB</a>,
          <a href="https://www.avdelphi.com/privacy.html">AVDelphi</a>,
          <a href="https://www.planespotters.net/legal/privacypolicy/">planespotters.net</a>,
          <a href="https://theairtraffic.com/privacy/">TheAirTraffic.com</a>,
          <a href="https://adsb.fi/privacy">adsb.fi</a>,
          <a href="https://skydata.hpradar.com/">hpradar</a>,
          <a href="https://airplanes.live/privacy">airplanes.live</a>,
          <a href="https://www.adsbexchange.com/privacy-policy/">ADSBExchange</a>
        </div>
        <div id="explain-privacy" style="display: {% if env_value_by_tag('aggregator_choice')=='priv' %} block {% else %}
            none {% endif %}; font-size: smaller;">
          With this option you will feed data to
          <a href="https://adsb.lol/privacy-license/">adsb.lol</a>,
          <a href="https://flyitalyadsb.com/informazioni-legali-e-privacy/">Fly Italy ADSB</a>,
          <a href="https://www.avdelphi.com/privacy.html">AVDelphi</a>,
          <a href="https://www.planespotters.net/legal/privacypolicy/">planespotters.net</a>,
          <a href="https://adsb.fi/privacy">adsb.fi</a>
          <a href="https://airplanes.live/privacy">airplanes.live</a>,
          <a href="https://www.adsbexchange.com/privacy-policy/">ADSBExchange</a>
        </div>
        <div id="explain-individual" style="display: {% if env_value_by_tag('aggregator_choice')=='ind' %} block {% else %}
                none {% endif %}; font-size: smaller;">
          With this option you can make detailed selections on the Aggregator page.
        </div>
      </div>
      <div class="form-group">
        <button type="submit" name="stage2" value="go"
                class="btn btn-primary btn-rounded  btn-block btn-lg p-4 my-3">Apply settings and (re)-start micro
          feeder proxies</button>
      </div>
      <br>
      <br>
      <div class="form-group">
        <button type="submit" name="turn_off_stage2" value="go" class="btn btn-primary">Turn off Stage 2 Mode</button>
      </div>
      <p>{{ message }}</p>
    </form>
  </div>
</div>
<script>
  function browserTZ() {
    let timezone = "";
    try {
      timezone = Intl.DateTimeFormat("en-US").resolvedOptions().timeZone;
    } catch (error) {
      console.error(error);
    }
    console.log("browser timezone: " + timezone);
    return timezone;
  }
    function updateTimezone() {
    $("#tz").val(browserTZ());
  }
  // set timezone field to browser tz on load if not set already
  if (!$("#tz").val()) {
    $("#tz").val(browserTZ());
  }

  const explainAll = document.getElementById("explain-all");
  const explainPriv = document.getElementById("explain-privacy");
  const explainInd = document.getElementById("explain-individual");
  function aggregatorClick() {
    if (document.getElementById("all").checked) {
      explainAll.style.display = "block";
      explainPriv.style.display = "none";
      explainInd.style.display = "none";
    } else if (document.getElementById("privacy").checked) {
      explainAll.style.display = "none";
      explainPriv.style.display = "block";
      explainInd.style.display = "none";
    } else if (document.getElementById("individual").checked) {
      explainAll.style.display = "none";
      explainPriv.style.display = "none";
      explainInd.style.display = "block";
    }
  }
  const aggregatorBtns = document.querySelectorAll('input[name="aggregator_choice"]');
  aggregatorBtns.forEach((radio) => {
    radio.addEventListener("click", aggregatorClick);
  });
  $("#add_micro_feeder_ip").keypress(key => {
    if (key.which == 13) {
      check_micro_feeder();
      return false;
    }
  });
  function check_micro_feeder() {
    let ip = $("#add_micro_feeder_ip").val()
    if (ip.length > 3) {
      show_spinner();
      let url = "/api/check_remote_feeder/" + ip;
      console.log("Accessing", url);
      fetch(url, {
        method: "GET", cors: "no-cors", signal: AbortSignal.timeout(8000)
      })
        .then(response => { console.log(response); return response.json() })
        .then(data => {
          hide_spinner();
          console.log(data)
          if ('name' in data) {
            if ('micro_settings' in data && data['micro_settings'] == true) {
              $("#mf_step2_import").removeClass("d-none");
              $("#mf_step2_import_text").removeClass("d-none");
              $("#mf_step2_full").removeClass("d-none");
              $("#mf_step2_full_text").removeClass("d-none");
            }
            $("#add_micro_feeder_name").text(data['name']);
            $("#mf_step2").removeClass("d-none");
            $("#mf_step1").addClass("d-none");
            if ('dump978_at_port' in data && data['dump978_at_port'] > 0) {
              $("#uat_div").removeClass("d-none");
            }
            if ('brofm_capable' in data && data['brofm_capable'] == true) {
              $("#beast_reduce").removeClass("d-none");
            }
          } else if ('status' in data && data['status'] == "ok") {
            $("#add_micro_feeder_name").text("Unknown (not a recent adsb.im feeder)");
            $("#mf_step3").removeClass("d-none");
            $("#mf_step1").addClass("d-none");
            $("#uat_div").removeClass("d-none");
          } else {
            $("#add_micro_feeder_name").text("Unable to detect feeder at " + ip);
          }
        })
        .catch(error => {
          hide_spinner();
          console.log("received error", error);
          $("#add_micro_feeder_name").text("Unable to detect feeder at " + ip);
        });
    }
  };

  // start the micro feeder check if needed
  registerTask(check_mf_task);

  let stage2InfoTask = {};
  stage2InfoTask.func = function() {
    let n = parseInt("{{ env_value_by_tag('num_micro_sites') }}")
    if (isNaN(n)) n = 0;
    if (n == 0) return;
    let url = "/api/stage2_info";
    fetch(url, {
      method: "GET", cors: "no-cors", signal: AbortSignal.timeout(8000)
    })
      .then(response => { return response.json() })
      .then(data => {
        data.forEach((d, i) => {
          let idx = i + 1; // the ids are 1-based
          //$("#table_mf_ip_" + idx).text(d["mf_ip"]);
          let lon = d.lon != undefined ? d.lon : d.lng;
          $("#table_mf_lla_" + idx).text(d["lat"] + " / " + lon + " / " + d["alt"]);
          $("#table_mf_version_" + idx).text(d["mf_version"]);
          $("#mf_uat_" + idx).prop('disabled', d["uat_capable"] == false);
          $("#mf_brofm_" + idx).prop('disabled', d["brofm_capable"] == false);
        })
      })
      .finally(() => {
        clearTimeout(stage2InfoTask.timer);
        stage2InfoTask.timer = setTimeout(stage2InfoTask.func, 300000);
      });
  }

  registerTask(stage2InfoTask);

  $("#site_order_idx").on('focusout', function (e) {
    let n = parseInt("{{ env_value_by_tag('num_micro_sites') }}")
    let edit_idx = parseInt("{{ edit_index }}");
    let new_idx = parseInt(e.target.value);
    if (new_idx != +e.target.value) {
      e.target.value = edit_idx;
      return;
    }
    if (new_idx < 1 || new_idx > n) {
      e.target.value = edit_idx;
      return;
    }
    for (let i = 1; i <= n; i++) {
      if (i == edit_idx) continue;
      <!-- we overwrite all the indices in case the user edits multiple times-->
      if ((i < new_idx && i < edit_idx) || (i > new_idx && i > edit_idx)) {
        $("#site_order_" + i).text(i);
        continue;
      }
      if (i <= new_idx && i > edit_idx) {
        $("#site_order_" + i).text(i - 1);
        continue;
      }
      if (i >= new_idx && i < edit_idx) {
        $("#site_order_" + i).text(i + 1);
        continue;
      }
      console.log("I missed a case ", i, new_idx, edit_idx);
    };
  });
  $(".accept_edit").on('keypress', function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
      $("#save_edit").click();
      return false;
    } else {
      return true;
    }
  });
</script>
{% endblock %}
