{% extends 'base.html' %}
{% set active_page = "systemmgmt" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} System Management {% endblock %}</h1>
<div class="row small">
  <!-- FULL_IMAGE_ONLY_START -->
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Install ssh credentials</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="ssh_pub">
            Enter or paste your public key below. This will allow you to then log in as root on the feeder SBC.
          </label>
        </div>
        <div class="col-8">
          <input class="mx-auto w-100" id="ssh_pub" name="ssh_pub" type="text" placeholder=" Enter your public key"
                 required>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="ssh" value="stay">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Create new random root password</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="root_password">
            The image will use the random root password displayed here. This will allow you to then log in as root
            on the feeder SBC. Please make sure to copy this password before clicking "Accept".
          </label>
        </div>
        <div class="row fw-light collapse align-right" id="showrpw">
          <pre class="align-middle ms-5 mt-2 col-auto"><code class="text-light bg-danger">{{ rpw }}</code></pre>
          <button type="submit" name="rpw" value="stay"
                  class="align-middle btn btn-primary mb-1 mx-3 col-sm-3">Accept</button>
        </div>
      </div>
      <button class="btn btn-secondary btn-rounded" type="button" data-mdb-toggle="collapse" data-mdb-target="#showrpw"
              aria-expanded="false" aria-controls="showrpw">show password option</button>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Secure feeder system</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="secure_image">
            Attempt to make it somewhat harder for someone on the local
            network to gain access to the image. Of course, anyone with
            physical access to the feeder hardware can circumvent the
            protection attempted here. Make sure you have an SSH key set up
            and tested before doing this, or you will permanently lock
            yourself out of this image.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="secure_image" value="go">
            Yes, SSH is working.<br>Secure the image
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Shutdown/Reboot</h5>
    <form method="POST">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="shutdown">Shutdown the feeder. Most boards won't turn off power by themselves.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="shutdown" value="wait">Shutdown</button>
        </div>
        <div class="col-8">
          <label for="reboot">Reboot the feeder. Please note that some boards are not able to reboot
            without manually power cycling.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="reboot" value="wait">Reboot</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">System update settings</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="row align-items-center ms-1">
            <input type="checkbox" class="col-1" name="nightly_base_update--is_enabled"
                   id="nightly_base_update--is_enabled" {% if is_enabled("nightly_base_update") %} checked {%
                            endif %}>
            <label for="nightly_base_update--is_enabled" class="col-11">Update base OS every
              night</label>
            <input type="checkbox" class="col-1" name="nightly_feeder_update--is_enabled"
                   id="nightly_feeder_update--is_enabled" {% if is_enabled("nightly_feeder_update") %} checked
                   {% endif %}>
            <label for="nightly_feeder_update--is_enabled" class="col-11">Update Feeder software every
              night</label>
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="nightly_update" value="go">Update
            Settings</button>
        </div>
        <div class="col-8">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="os_update" value="go">Trigger OS Update
            Now</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">System log persistence toggle</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="row align-items-center ms-1">
            <label for="log_persistence_toggle">Currently the log is {% if not persistent_journal %}not {% endif %}
              written to disk.
            </label>
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="log_persistence_toggle"
                  value="go">{% if persistent_journal %}Disable{% else %}Enable{% endif %} persistent logging</button>
        </div>
      </div>
    </form>
  </div>

  <!-- FULL_IMAGE_ONLY_END -->
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Update feeder applications</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="update_feeder_aps">Update to the current ADS-B feeder applications (i.e. the
            web UI, setup apps, and containers). Either the latest beta or stable version.
            {% if channel != "" %} Additionally, you can try to update to the latest state of the {{ channel }}
            branch. This is typically far less tested and may not work at all. Please make sure to create a
            backup before doing this. {% endif %}
            If this update brings in new container images, even with a fast internet connection this can easily
            take more than ten minutes to complete. The web UI will pause while the update is running, but the
            feeder apps will only be briefly interrupted once all new components have been downloaded.
          </label>
        </div>
        <div class="col-4">
          <div class="row mx-auto gy-2">
            <button type="submit" class="btn btn-primary mx-auto w-100 col-12" name="update_feeder_aps_beta"
                    value="go">Update (beta)</button>
            <button type="submit" class="btn btn-primary mx-auto w-100 col-12" name="update_feeder_aps_stable"
                    value="go">Update (stable)</button>
            {% if channel != "" %}
            <button type="submit" class="btn btn-primary mx-auto w-100 col-12" name="update_feeder_aps_branch"
                    value="go">Update ({{ channel }})</button>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Restart / recreate containers</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12">
          <label for="restart_containers">Typically this shouldn't be necessary, but occasionally it
            seems that for whatever reason a container doesn't pick up a setting or gets otherwise stuck.</label>
        </div>
        <div class="row align-items-center">
          <div class="col-8">
            <div class="row align-items-center ms-1">
              {% for container in containers %}
              <input type="checkbox" class="col-1" name="restart-{{ container }}" id="restart-{{ container }}">
              <label for="restart-{{ container }}" class="col-11">{{ container }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="col-4">
            <div class="row align-items-center">
              <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="restart_containers"
                      value="go">Restart Containers</button>
              <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="recreate_containers"
                      value="go">Recreate Containers</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- FULL_IMAGE_ONLY_START -->
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Add Zerotier</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="zerotierid">
            Zerotier support allows to connect your ADS-B Feeder to your own global area network. Please add
            your Zerotier Network ID below.<br />
            Once this process has completed, you need to accept the new device into the network on the Zerotier
            website.
          </label>
        </div>
        <div class="col-8">
          <input class="mx-auto w-100" id="zerotierid" name="zerotierid" type="text"
                 value="{{ env_value_by_tag('zerotierid') }}" placeholder=" Enter your Zerotier Network ID" required>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="zerotier" value="go">Submit</button>
        </div>
      </div>
      {% if zerotier_running %}
      <div class="col-4">
        Enter "disable" and press submit to disable zerotier.
      </div>
      {% endif %}
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Add Tailscale</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="tailscale">
            Tailscale support allows to connect your ADS-B Feeder to your own tailnet. <br />
            {% if env_value_by_tag("tailscale_name") == "" %}In order to do this, we will start
            the <code>tailscale</code> client on the feeder SBC and then redirect you back here and add a link
            to the
            login page so you can authenticate the device on your tailnet.{% endif %}<br />
            {% if env_value_by_tag("tailscale_ll") != "" %}
            Click this <a href="{{ env_value_by_tag('tailscale_ll') }}" target="_blank">link to open {{
                        env_value_by_tag("tailscale_ll") }}</a>. After you have logged in, please come back to this tab
            and
            reload this page.{% endif %}
            {% if env_value_by_tag("tailscale_name") != "" %}
            This device should now be on your tailnet as '{{ env_value_by_tag("tailscale_name") }}'.
            {% elif env_value_by_tag("tailscale_ll") =="" %}
            You can add options like a specific <code>--login-server</code> below. But please note that
            <code>--authkey</code> isn't supported at this point.
            {% endif %}
          </label>
        </div>
        <div class="col-8">
          <input class="mx-auto w-100" id="tailscale_extras" name="tailscale_extras" type="text"
                 value="{{ env_value_by_tag('tailscale_extras') }}"
                 placeholder=" Enter additional tailscale options you need" {% if env_value_by_tag("tailscale_name")
                    !="" or env_value_by_tag("tailscale_ll") !="" %}style="display: none;" {% endif %}>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="tailscale" value="go" {% if
                    env_value_by_tag("tailscale_name") !="" or env_value_by_tag("tailscale_ll") !=""
                    %}style="display: none;" {% endif %}>Submit</button>
        </div>
        {% if tailscale_running %}
        <div class="col-8">
          Enter "disable" and press submit to disable Tailscale.
          <input class="mx-auto w-100" id="tailscale_disable" name="tailscale_disable" type="text">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="tailscale_disable_go" value="go">Submit</button>
        </div>
        {% endif %}
      </div>
    </form>
  </div>

  <!-- FULL_IMAGE_ONLY_END -->
</div>
{% endblock %}
