{% extends 'base.html' %}
{% set active_page = "systemmgmt" %}

{% block content %}
<h1 class="mt-3 text-center text-danger">{% block title %} System Management {% endblock %}</h1>
  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
<div class="row small">
  <!-- FULL_IMAGE_ONLY_START -->
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Install SSH Credentials</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="ssh_pub">
            Enter or paste your public key below. This will allow you to then log in as root on the feeder.
          </label>
        </div>
        <div class="col-8">
          <input class="form-control mx-auto w-100" id="ssh_pub" name="ssh_pub" type="text" placeholder="Enter your public key"
                 required>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="ssh" value="stay">Apply</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Generate New Root Password</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="root_password">
            If you need to be able to log into the image as root user (and really, you almost never should need to),
            click on 'Show Password', copy the random password shown, and then click 'Accept'.<br/>
            After that you'll be able to log in as root using an SSH client (e.g. PuTTY on Windows or <code>ssh</code> on macOS or Linux).
          </label>
        </div>
        <div class="col-8">
          <div class="collapse" id="showrpw">
            <div class="d-flex align-items-center">
              <pre class="mb-0 me-3"><code class="fs-5 px-2 py-1 rounded">{{ rpw }}</code></pre>
              <button type="submit" name="rpw" value="stay" class="btn btn-primary">Accept</button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-secondary mx-auto w-100" type="button" data-mdb-toggle="collapse" data-mdb-target="#showrpw"
                  aria-expanded="false" aria-controls="showrpw">Show Password</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if not is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">The feeder system is secured</h5>
      <div class="row align-items-center">
        <div class="col-8">
          If you're looking for missing options, this is likely the reason.
          To unlock the system and re-enable all those options, log in locally or via SSH
          and issue the following command:
          /opt/adsb/scripts/secure-image-disable.sh
        </div>
      </div>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Secure Feeder System</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="secure_image">
            Attempt to make it somewhat harder for someone on the local
            network to gain access to the image. Of course, anyone with
            physical access to the feeder hardware can circumvent the
            protection attempted here. Make sure you have an SSH key or
            password set up and tested before doing this, or you will
            permanently lock yourself out of this image.
            Also disables the wifi hotspot which allows for wifi
            configuration when there is no network connectivity.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="secure_image" value="go">
            SSH is working.<br>Secure the image.
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Web Authentication</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label>
            Protect the web interface with a username and password.
            When enabled, both the main setup app and recovery app will require authentication.
            {% if env_value_by_tag('web_auth_enabled') %}
            <br><strong>Authentication is currently ENABLED.</strong>
            {% else %}
            <br>Authentication is currently disabled.
            {% endif %}
          </label>
        </div>
        {% if not env_value_by_tag('web_auth_enabled') %}
        <div class="col-12 mb-2">
          <input class="form-control" id="web_auth_username" name="web_auth--username" type="text"
                  placeholder="Username" required>
          <label class="form-label" for="web_auth_username">Username</label>
        </div>
        <div class="col-12 mb-2">
          <label for="auth_password">
            The system provides you with a password to use with that user name. Click on 'Show Password', copy the random
            password shown, and then click 'Enable Authentication'.<br />
            Note, this is the only time you will be shown this password. So make sure that you copy it to a safe place
            (e.g. a password manager) or you will lock yourself out of this UI.
          </label>
        </div>
        <div class="col-8">
          <div class="collapse" id="show_auth_pwd">
            <div class="d-flex align-items-center">
              <pre class="mb-0 me-3"><code class="fs-5 px-2 py-1 rounded" data-test="auth_passwd">{{ auth_pwd }}</code></pre>
            </div>
          </div>
        </div>
        <div class="col-4">
          <button class="btn btn-secondary mx-auto w-100" type="button" data-mdb-toggle="collapse" data-mdb-target="#show_auth_pwd"
                  aria-expanded="false" aria-controls="show_auth_pwd"
                  onclick="document.getElementById('web_auth_enable').disabled = false;" data-test="show_auth_passwd">Show Password</button>
        </div>
        <div class="col-12 mt-2">
          <button type="submit" class="btn btn-primary mx-auto w-100" id="web_auth_enable" name="web_auth_setup" value="stay" disabled>
            Enable Authentication
          </button>
        </div>
        {% else %}
        <div class="col-12">
          <button type="submit" class="btn btn-warning mx-auto w-100" name="web_auth_disable" value="stay">
            Disable Authentication
          </button>
        </div>
        {% endif %}
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Wifi Hotspot</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="hotspot">
              When there is no network connectivity, this image provides
              a wifi hotspot to configure wifi.
              This feature is currently
              {% if hotspot_enabled %}enabled{% else %}disabled{% endif %}.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="toggle_hotspot" value="go">
            {% if hotspot_enabled %}Disable{% else %}Enable{% endif %} Hotspot
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Shutdown/Reboot</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="shutdown">Shutdown the feeder. Most boards won't turn off power by themselves.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="shutdown" value="wait">Shutdown</button>
        </div>
        <div class="col-8">
          <label for="reboot">Reboot the feeder. Some boards are not able to reboot
            without manually power cycling.
          </label>
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="reboot" value="wait">Reboot</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">System Log Persistence Toggle</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="row align-items-center ms-1">
            <label for="log_persistence_toggle">Currently the log is {% if not persistent_journal %}not {% endif %}
              written to disk.
            </label>
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="log_persistence_toggle"
                  value="go">{% if persistent_journal %}Disable{% else %}Enable{% endif %} persistent logging</button>
        </div>
      </div>
    </form>
  </div>
  <!-- FULL_IMAGE_ONLY_END -->
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">System Update Settings</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
  <!-- FULL_IMAGE_ONLY_START -->
        <div class="col-8 mb-3"><span class="ms-3">Manual OS Update</span>
        </div>
        <div class="col-4 mb-3">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="os_update" value="go">Trigger OS Update
            Now</button>
        </div>
  <!-- FULL_IMAGE_ONLY_END -->
        <div class="col-8">
          <div class="row align-items-center ms-1">
  <!-- FULL_IMAGE_ONLY_START -->
            <input type="checkbox" class="col-1 mb-3" name="nightly_base_update--is_enabled"
                   id="nightly_base_update--is_enabled" {% if is_enabled("nightly_base_update") %} checked {%
                            endif %}>
            <label for="nightly_base_update--is_enabled" class="col-11 mb-3">Update base OS every
              night</label>
  <!-- FULL_IMAGE_ONLY_END -->
            <input type="checkbox" class="col-1" name="nightly_feeder_update--is_enabled"
                   id="nightly_feeder_update--is_enabled" {% if is_enabled("nightly_feeder_update") %} checked
                   {% endif %}>
            <label for="nightly_feeder_update--is_enabled" class="col-11">Update feeder software every
              night, based on the branch used at the last manual update - currently '{{ current_branch }}'.</label>
          </div>
        </div>
        <div class="col-4">
          <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="nightly_update" value="go">Update
            Settings</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Update Feeder Software</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-8">
          <label for="update_feeder_aps">Update to the current ADS-B feeder software (i.e. the
            web UI, setup apps, and containers). Either the latest beta or stable version.
            {% if channel != "" %} Additionally, you can try to update to the latest state of the {{ channel }}
            branch. This is typically far less tested and may not work at all. Please make sure to create a
            backup before doing this. {% endif %}
            If this update brings in new container images, even with a fast internet connection this can easily
            take more than ten minutes to complete. The web UI will pause while the update is running, but the
            feeder apps will only be briefly interrupted once all new components have been downloaded.
          </label>
        </div>
        <div class="col-4">
          <div class="row mx-auto gy-2">
            <button type="submit" class="btn btn-primary mx-auto w-100 col-12" name="update_feeder_aps_beta"
                    id="update_feeder_aps_beta" value="go">Update (beta)</button>
            <button type="submit" class="btn btn-primary mx-auto w-100 col-12" name="update_feeder_aps_stable"
                    id="update_feeder_aps_stable" value="go">Update (stable)</button>
            {% if channel != "" %}
            <button type="submit" class="btn btn-primary mx-auto w-100 col-12" name="update_feeder_aps_branch"
                    value="go">Update ({{ channel }})</button>
            {% endif %}
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6">
    <h5 class="mt-3">Restart / recreate containers</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12">
          <label for="restart_containers">Typically this shouldn't be necessary, but occasionally it
            seems that for whatever reason a container doesn't pick up a setting or gets otherwise stuck.
          </label>
        </div>
        <div class="row align-items-center">
          <div class="col-8">
            <div class="row align-items-center ms-1">
              {% for container in containers %}
              <input type="checkbox" class="col-1" name="restart-{{ container }}" id="restart-{{ container }}">
              <label for="restart-{{ container }}" class="col-11">{{ container }}</label>
              {% endfor %}
            </div>
          </div>
          <div class="col-4">
            <div class="row align-items-center">
              <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="restart_containers"
                      value="go" id="restart_button">Restart All</button>
              <button type="submit" class="mb-3 btn btn-primary mx-auto w-100" name="recreate_containers"
                      value="go" id="recreate_button">Recreate All</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- FULL_IMAGE_ONLY_START -->
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Add Zerotier</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="zerotierid">
            Zerotier support allows to connect your ADS-B Feeder to your own global area
            network.{% if not zerotier_running %} Please add
            your Zerotier Network ID below.<br />
            Once this process has completed, you need to accept the new device into the network on the Zerotier
            website.{% else %}<br />This device should now be on your Zerotier network.{% endif %}
          </label>
        </div>
        {% if not zerotier_running %}
        <div class="col-8">
          <input class="form-control mx-auto w-100" id="zerotierid" name="zerotierid" type="text"
                 value="{{ env_value_by_tag('zerotierid') }}" placeholder="Enter your Zerotier Network ID" required>
        </div>
        {% else %}
        <div class="col-8">
          <input class="form-control mx-auto w-100" id="zerotier_disable" name="zerotier_disable" type="text">
          To <strong>disable</strong> Zerotier, enter "disable" and press Submit.
        </div>
        {% endif %}
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="zerotier" value="go">Apply</button>
        </div>
        {% if zerotier_running %}
        <div class="col-12 text-danger">
          This will prevent you from accessing this feeder if you use a Zerotier network to connect to it.
        </div>
        {% endif %}
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') %} d-none {% endif %}">
    <h5 class="mt-3">Add Tailscale</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          <label for="tailscale">
            Tailscale support allows to connect your ADS-B Feeder to your own tailnet.
            {% if env_value_by_tag("tailscale_name") == "" %}<br />In order to do this, we will start
            the <code>tailscale</code> client on the feeder SBC and then redirect you back here and add a link
            to the
            login page so you can authenticate the device on your tailnet.{% endif %}<br />
            {% if env_value_by_tag("tailscale_ll") != "" %}
            Click this <a href="{{ env_value_by_tag('tailscale_ll') }}" target="_blank">link to open {{
                        env_value_by_tag("tailscale_ll") }}</a>. After you have logged in, please come back to this tab
            and
            reload this page.{% endif %}
            {% if env_value_by_tag("tailscale_name") != "" %}
            This device should now be on your tailnet as '{{ env_value_by_tag("tailscale_name") }}'.
            {% elif env_value_by_tag("tailscale_ll") =="" %}
            You can add options like a specific <code>--login-server</code> below. But please note that
            <code>--authkey</code> isn't supported at this point.
            {% endif %}
          </label>
        </div>
        {% if (env_value_by_tag("tailscale_name") =="" and env_value_by_tag("tailscale_ll") =="") or not tailscale_running %}
        <div class="col-8">
          <input class="form-control mx-auto w-100" id="tailscale_extras" name="tailscale_extras" type="text"
                 value="{{ env_value_by_tag('tailscale_extras') }}"
                 placeholder="Enter additional tailscale options you need">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="tailscale" value="go">Apply</button>
        </div>
        {% else %}
        <div class="col-8">
          <input class="form-control mx-auto w-100" id="tailscale_disable" name="tailscale_disable" type="text">
          To <strong>disable</strong> Tailscale, enter "disable" and press Submit.
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="tailscale_disable_go"
                  value="go">Apply</button>
        </div>
        <div class="col-12 text-danger">
          This will prevent you from accessing this feeder if you use a Tailscale network to connect to it.
        </div>
        {% endif %}
      </div>
    </form>
  </div>
  <div class="col-12 col-lg-6 {% if is_enabled('secure_image') or env_value_by_tag('board_name').startswith("Virtualized") %} d-none {% endif %}">
    <h5 class="mt-3">{% if wifi != "" %}Reconfigure{% else %}Connect to{% endif %} WiFi</h5>
    <form method="POST" onsubmit="show_spinner(); return true;">
      <div class="row align-items-center">
        <div class="col-12 mb-2">
          {% if wifi != "" %}
          This feeder is connected to the "{{ wifi }}" WiFi network.
          {% else %}
          This feeder is connected via Ethernet.
          {% endif %}
        </div>
        <div class="col-12 mb-2">
          Enter or select the SSID and password of the WiFi network you want to connect to. It can take
          several minutes for the connection to be established. Depending on the exact version of the base OS of the
          feeder image that you are using, the user experience may be slightly different, but when the
          process appears stuck even after a longer wait a forced reboot (pull power) may be required.
        </div>
        <div class="col-12 mb-2">
          Remember that if the change is successful, you need to connect to the feeder on that new
          network. There is no way for the feeder to automatically forward you to that.
        </div>
        <div class="col-4">
          <div class="dropdown">
            <input class="form-control wifi-ssid-input" id="wifi_ssid" name="wifi_ssid" type="text" placeholder="SSID" required
                   autocomplete="off" onclick="showWifiDropdown()">
            <ul class="dropdown-menu w-100" id="wifi_dropdown" style="max-height: 200px; overflow-y: auto;">
            </ul>
          </div>
        </div>
        <div class="col-4">
          <input class="form-control mx-auto w-100" id="wifi_password" name="wifi_password" type="text" placeholder="Password">
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-primary mx-auto w-100" name="wifi" value="stay">Apply</button>
        </div>
      </div>
    </form>
  </div>
  <!-- FULL_IMAGE_ONLY_END -->
</div>
<script>
  fetch("/api/status/im", { signal: AbortSignal.timeout(5000) })
  .then(response => response.json())
  .then(data => {
    if (data["beta_changelog"]) {
      $("#update_feeder_aps_beta").attr("title", data["beta_changelog"]);
    }
    if (data["main_changelog"]) {
        $("#update_feeder_aps_stable").attr("title", data["main_changelog"]);
    }
  });

  // Update button text based on container selection
  function updateContainerButtonText() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name^="restart-"]');
    const restartButton = document.getElementById('restart_button');
    const recreateButton = document.getElementById('recreate_button');

    const checkedCount = Array.from(checkboxes).filter(cb => cb.checked).length;

    if (checkedCount === 0) {
      restartButton.textContent = 'Restart All';
      recreateButton.textContent = 'Recreate All';
    } else {
      restartButton.textContent = 'Restart Selected (' + checkedCount + ')';
      recreateButton.textContent = 'Recreate Selected (' + checkedCount + ')';
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"][name^="restart-"]');
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener('change', updateContainerButtonText);
    });
    updateContainerButtonText();

    const wifiSsidInput = document.getElementById('wifi_ssid');

    if (wifiSsidInput) {
      wifiSsidInput.addEventListener('focus', function() {
          scanWifiNetworks();
      });

      document.addEventListener('click', function(event) {
        const dropdown = document.getElementById('wifi_dropdown');
        if (!wifiSsidInput.contains(event.target) && !dropdown.contains(event.target)) {
          dropdown.classList.remove('show');
        }
      });
    }
  });

  function scanWifiNetworks() {
    const dropdown = document.getElementById('wifi_dropdown');

    dropdown.innerHTML = '<li><span class="dropdown-item-text text-muted">Scanning for networks...</span></li>';
    dropdown.classList.add('show');

    fetch('/api/scan_wifi', { signal: AbortSignal.timeout(15000) })
      .then(response => response.json())
      .then(data => {
        dropdown.innerHTML = '';

        if (data.ssids && data.ssids.length > 0) {
          data.ssids.forEach(ssid => {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.className = 'dropdown-item';
            a.href = '#';
            a.textContent = ssid;
            a.onclick = function(e) {
              e.preventDefault();
              document.getElementById('wifi_ssid').value = ssid;
              dropdown.classList.remove('show');
            };
            li.appendChild(a);
            dropdown.appendChild(li);
          });
        } else {
          dropdown.innerHTML = '<li><span class="dropdown-item-text text-muted">No networks found</span></li>';
        }
      })
      .catch(error => {
        console.warn('WiFi scan failed:', error);
        dropdown.innerHTML = '<li><span class="dropdown-item-text text-muted">Scan failed</span></li>';
      });
  }
</script>
{% endblock %}
