{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Restarting the ADSB system {% endblock %}</h1>

<script>
    document.addEventListener('readystatechange', event => {
        if (event.target.readyState === "complete") {
            show_spinner();
            setTimeout(checkStatus, 5000);
        }
    });

    function checkStatus() {
        var request = new XMLHttpRequest();
        request.open('GET', '/running');
        request.timeout = 2000;
        request.ontimeout = function () {
            console.log(`still waiting for ${url} to become available`);
            setTimeout(checkStatus, 2000);
        };
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200 && request.responseText === 'OK') {
                console.log('restarting the ADSB infra completed, redirect user');
                window.location = '/';
            } else {
                console.log(`request returned with readyState ${request.readyState}, status ${request.status} and text ${request.responseText}; keep waiting`);
                setTimeout(checkStatus, 2000);
            }
        };
        request.onerror = function () {
            console.log("request threw an error, giving up and trying to redirect (which will likely fail)");
            alert('Something went wrong.');
            window.location = '/';
        };
        request.send();
    };
</script>
{% endblock %}