<!DOCTYPE html>
{% if env_value_by_tag("css_theme") == 'light' %}
<html lang="en" data-mdb-theme="light">
{% elif env_value_by_tag("css_theme") == 'dark' %}
<html lang="en" data-mdb-theme="dark">
{% else %}
<html lang="en" data-mdb-theme="auto">
{% endif %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Google Fonts Roboto. Copyright 2011 Google Inc. All Rights Reserved. See {{ url_for('static', filename='fonts/LICENSE.txt') }} -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" />
  <!-- MDB -->
  <link rel="stylesheet" id="css-theme" href="{{ url_for('static', filename='css/mdb.min.css') }}" />
  {% if not ((env_value_by_tag("css_theme") == 'light') or (env_value_by_tag("css_theme") == 'dark')) %}
  <script>
    ; (function () {
      const htmlElement = document.querySelector("html")
      if (htmlElement.getAttribute("data-mdb-theme") === 'auto') {
        function updateTheme() {
          document.querySelector("html").setAttribute("data-mdb-theme",
            window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light")
        }
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme)
        updateTheme()
      }
    })()
  </script>
  {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <!-- Spinner -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>
    {{ title }}
  </title>
</head>

<body>
  <div id="loader" style="display: none"></div>
  <div id="overlay" style="display: none">
    <div id="overlaytext">
      please wait
      <br />
      this could take several minutes
    </div>
  </div>
  <div class="bgimage">
    <img src="/static/images/adsbim-background-transparent-4k.png" alt="">
  </div>
  <div class="container pt-5 mt-3">
    <h1>{{ title }}</h1>
    <h3 class="my-3">Please be patient</h3>
    <div class="row overflow-auto" style="height: 75vh" id="logcontainer">
      <pre class="col-6-sm col-12 small" id="log"></pre>
    </div>
  </div>

  <script src="/static/js/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
          crossorigin="anonymous"></script>

  <script>
    function stream() {
      var streamlog = new EventSource("/stream-log");
      console.log("created EventSource" + streamlog)
      streamlog.onerror = function (e) {
        checkStatus();
      }
      streamlog.onmessage = function (e) {
        $('#log').append(e.data + "\n");
        $('#logcontainer').scrollTop($('#logcontainer')[0].scrollHeight);
      };
    }
    const checkDelay = 1000;
    function checkStatus() {
      var request = new XMLHttpRequest();
      request.open('GET', '/restart');
      request.timeout = 2000;
      request.ontimeout = function () {
        console.log(`still waiting for /restart to become available`);
        setTimeout(checkStatus, checkDelay);
      };
      request.onload = function () {
        if (request.readyState === 4 && request.status === 200) {
          if (request.responseText === 'done') {
            console.log('restarting the ADS-B Feeder infra completed, redirect user');
            window.location = '/';
            return;
          } else if (request.responseText === 'stream-log') {
            console.log('continue reading the stream log, redirect user');
            window.location = '/waiting';
            return;
          } else if (request.responseText === 'restarting') {
            console.log('continue reading the stream log, redirect user');
            // we use a page reload here instead of just opening the stream log again
            // as apparently browsers like to run out of memory if you open the event source a bunch of times
            window.location = '/';
            return;
          } else {
            setTimeout(checkStatus, checkDelay);
          }
        } else {
          console.log(`request returned with readyState ${request.readyState}, status ${request.status} and text ${request.responseText}; keep waiting`);
          setTimeout(checkStatus, checkDelay);
        }
      };
      request.onerror = function () {
        console.log("request returned an error - let's hope it's just restarting and try again");
        setTimeout(checkStatus, checkDelay);
      };
      request.send();
    };

    console.log("starting stream");
    stream();
  </script>
</body>

</html>
