{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Restarting the ADS-B Feeder system {% endblock %}</h1>

<script>
    document.addEventListener('readystatechange', event => {
        if (event.target.readyState === "complete") {
            show_spinner();
            setTimeout(checkStatus, 10000);
        }
    });

    function checkStatus() {
        var request = new XMLHttpRequest();
        request.open('GET', '/running');
        request.timeout = 2000;
        request.ontimeout = function () {
            console.log(`still waiting for /running to become available`);
            setTimeout(checkStatus, 2000);
        };
        request.onload = function () {
            if (request.readyState === 4 && request.status === 200 && request.responseText === 'OK') {
                console.log('restarting the ADS-B Feeder infra completed, redirect user');
                window.location = '/';
            } else {
                console.log(`request returned with readyState ${request.readyState}, status ${request.status} and text ${request.responseText}; keep waiting`);
                setTimeout(checkStatus, 2000);
            }
        };
        request.onerror = function () {
            console.log("request returned an error - let's hope it's just restarting and try again");
            setTimeout(checkStatus, 2000);
        };
        request.send();
    };
</script>
{% endblock %}