# Updates to the ADS-B Feeder Image will likely overwrite any edits that you
# make in this file.
# If you prefer to manually edit this file, that's ok. In that case please
# set the following entry to 1 (yes, this is commented out, it's parsed
# by the UI app, not the radiosonde container)
#
# %LOCAL_EDITS_DONT_MANAGE%=0
#
# Setting this to 0 means that the UI will manage the file, setting it to 1
# means you are doing this yourself

receivers:
  web888:
    receiver: web888
    client:
      # change the address below to your web888 device's ip address
      address: %hfdlobserver_ip%  # <<-- replace by token that gets updated at runtime
      port: 8073
      recorder_path: kiwiclient/kiwirecorder.py
dumphfdl:
  default:
    # please set a station id here
    station_id: %hfdlobserver_feed_id%
    # set this to false if you feed airframes hfdl data from acars ROUTER
    airframes_enabled: false

    output:
      # acarsrouter
      - format: json
        protocol: tcp
        address: acars_router
        port: 5556
      # output SBS to ultrafeeder
      - format: "basestation"
        protocol: "tcp"
        address: "ultrafeeder"
        port: 32009

# unless you have a specific setup, leave most of this alone

observer:
  all_receivers:
    - name: web888-01
      receiver: web888
    - name: web888-02
      receiver: web888
    - name: web888-03
      receiver: web888
    - name: web888-04
      receiver: web888
    - name: web888-05
      receiver: web888
    - name: web888-06
      receiver: web888
    - name: web888-07
      receiver: web888
    - name: web888-08
      receiver: web888
    - name: web888-09
      receiver: web888
    - name: web888-10
      receiver: web888
    - name: web888-11
      receiver: web888
    - name: web888-12
      receiver: web888
    - name: web888-13
      receiver: web888
  conductor:
    # if you want to ignore frequencies, use this
    #ignored_frequencies: [[0,2000],[22000,30000]]

    # the last section you will want to mess with is this. This section tells
    # hfdlobserver what frequencies to prioritize.
    # the numbers in the list correspond to the following stations
    # │ 1 - San Francisco, California                                                                                                                                                                        │
    # │ 2 - Molokai, Hawaii                                                                                                                                                                                  │
    # │ 3 - Reykjavik, Iceland                                                                                                                                                                               │
    # │ 4 - Riverhead, New York                                                                                                                                                                              │
    # │ 5 - Auckland, New Zealand                                                                                                                                                                            │
    # │ 6 - Hat Yai, Thailand                                                                                                                                                                                │
    # │ 7 - Shannon, Ireland                                                                                                                                                                                 │
    # │ 8 - Johannesburg, South Africa                                                                                                                                                                       │
    # │ 9 - Barrow, Alaska                                                                                                                                                                                   │
    # │ 10 - Muan, South Korea                                                                                                                                                                               │
    # │ 11 - Albrook, Panama                                                                                                                                                                                 │
    # │ 13 - Santa Cruz, Bolivia                                                                                                                                                                             │
    # │ 14 - Krasnoyarsk, Russia                                                                                                                                                                             │
    # │ 15 - Al Muharraq, Bahrain                                                                                                                                                                            │
    # │ 16 - Agana, Guam                                                                                                                                                                                     │
    # │ 17 - Canarias, Spain
    # you should, ideally, be picking stations in order of what is closest to you and
    # moving further away
    # if you want to have the container do it's best guess for you, run the following command:
    # docker run -it -e SKIP_CHECKS=true ghcr.io/sdr-enthusiasts/docker-hfdlobserver:latest /scripts/freq_picker.sh <lat> <lon>
    # and check the output. You will see something like:
    # docker run -it -e SKIP_CHECKS=true ghcr.io/sdr-enthusiasts/docker-hfdlobserver:latest /scripts/freq_picker.sh 35.6 -106.5
    # <snip>
    # This line can be used in settings.yaml (indent it properly):
    # ranked_stations: [1, 4, 11, 9, 2, 3, 7, 13, 17, 14, 10, 16, 5, 15, 6, 8]
    ranked_stations: [1, 4, 11, 9, 2, 3, 7, 13, 17, 14, 10, 16, 5, 15, 6, 8]
cui:
  ticker:
    show_all_active: no
    show_active_line: yes
    show_targetting: no
    show_confidence: yes
    show_quiet: no
    display_mode: frequency
