h1 {
    color: brown;
    text-align: center;
    padding: 10px;
}
.bigbigbutton {
  display: block;
  width: 90%;
  height: 4em;
  border: none;
  background-color: #1144CC;
  color: #CCDDFF;
  padding: 1em 2em;
  margin: 1em;
  font-size: 125%;
  cursor: pointer;
  text-align: center;
  border-radius: 2em;
}

.red {
  background-color: #CC4411; !important
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
